<header class="header">

    <div class="logo-conatiner">
        <img src="/images/prymus.png" alt="">
    </div>
    <div class="mob-nav-container">
        <img src="/images/menu.svg" alt="">
    </div>
    <div class="nav-container go">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">PROJECTS</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CAREER</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><form action="/logout" method="POST">
                <input type="submit" value="Logout" class="logout">
            </form></li>
        </ul>
    </div>

</header>



    
