<header class="header">

        <div class="logo-conatiner">
            <img src="/images/prymus.png" alt="">
        </div>
        <div class="mob-nav-container">
            <img src="/images/menu.svg" alt="">
        </div>
        <div class="nav-container go">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/our-services">SERVICES</a></li>
                <!-- <li><a href="#">PROJECTS</a></li> -->
                <!-- <li><a href="/blogs">BLOG</a></li> -->
                <li><a href="/career">CAREER</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/registerclient" class="brand">REGISTER/LOGIN</a></li>
            </ul>
        </div>
    
</header>