<header class="header">
    <nav class="navbar">
        <div class="logo-conatiner">
            <img src="/images/prymus.png" alt="">
        </div>
        <div class="nav-container">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PROJECTS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CAREER</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">REGISTER/LOGIN</a></li>
            </ul>
        </div>
    </nav>
</header>