<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Prymus- Marketing Blogs">
        <meta name="author" content="Prymus">
        <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="/css/header_updated_n.css">
        <link rel="stylesheet" href="/css/header_updated_s.css">
        <link rel="stylesheet" href="/css/myplan.css">
        <link rel="stylesheet" href="/css/chat.css">
        <link rel="stylesheet" href="/css/footer.css">
    
        <title>PRYMUS</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
    </head>
    <body>

        <div class="header-main">
            <% if (user) { %>
                <%- include ('../includes/header_updated_s.ejs') %>     
            <% } else { %>
                <%- include ('../includes/header_updated_n.ejs') %>
            <% } %>
        </div>      
    
    <!-- container-1 -->

    
    <!-- footer starts -->

    <%- include('../footer.ejs') %>
    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>

    <!-- footer ends -->

    <script>
        let fb = document.querySelector('.fb_value').textContent
        let link = document.querySelector('.lnk_value').textContent
        let total = parseInt(fb) + parseInt(link)

        let sum = document.querySelector('.sum').textContent = total
        
    </script>

<script src="/js/header_updated_n.js"></script>
</body>
</html>