<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/client-register.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.ejs">

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('../includes/header_updated_s.ejs') %>     
    <% } else { %>
        <div class="header-main">
            <%- include ('../includes/header_updated_n.ejs') %>
        </div>     
    
    <% } %>
    <!-- container-1 register/login -->
    <div class="container-1">
        <div class="sign-up">
            <h1>Register Here!</h1>
            <div class="form-container-register">
                <form action="/registerclient" method="POST" class="client-register">
                    <input type="text" name="name" class="register-name" placeholder="Name">
                    <input type="text" name="email" class="register-email" placeholder="Email">
                    <input type="password" name="password" class="register-password" placeholder="Password">
                    <input type="password" name="passwordConfirm" class="register-password-confirm" placeholder="Password-confirm">
                    <input type="tel" name="phone" class="register-phone" placeholder="Phone No.">
                    <input type="text" name="city" class="register-city" placeholder="City">
                    <input type="text" name="state" class="register-state" placeholder="state">
                    <input type="number" name="pincode" class="register-pincode" placeholder="Pin">
                    <input type="text" name="country" class="register-country" placeholder="Country">
                    <input type="submit" name="register" value="Register">
                </form>
            </div>

            
        </div>
        <div class="sign-in">
            <h1>Login Here!</h1>
            <div class="form-container-login">
                <form action="myaccount" method="POST" class="client-login">
                    <input type="text" name="email" class="register-email" placeholder="Email">
                    <input type="password" name="password" class="register-password" placeholder="Password">
                    <input type="submit" name="login" value="Login">
                    
                </form>
            </div>

           
        </div>
    </div>
    <!-- footer starts -->
    <%- include('../footer.ejs') %>

    <script src="/js/header_updated_n.js"></script>
    
     </body>
     </html>