<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRYMUS</title>
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/client-register.css">
</head>
<body>

    <%- include ('../includes/header_updated_n.ejs') %>


    <!-- Register Form -->

    <!-- <div style="margin-top: 20rem; text-align: center;">
        <% errors.forEach(function(el) { %>
            <%= el %>
        <% }) %>
        
    </div> -->

    <div class="user-manager">


    <h1 id="user"> Retailer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          |    </h1><h1 id="manager">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          Manager</h1>
     
    
    </div>
    
    <div class="forms-container" id="user-forms-container">
        <div class="register-form-container" id="user-register-form-container">
            <h3>Already Registered? <span>Login Here!</span></h3>
            <h1> Retailer Register Here!</h1>
            <form action="/registerclient" method="POST" id="userFormRegister">
                <input type="text" name="name" id="user-register-name" placeholder="Enter Name" required>
                <small id="small-register-userName">Error Message</small>

                <input type="email" name="email" id="user-register-email" placeholder="Enter Email" required>
                <small id="small-register-userEmail">Error Message</small>

                <input type="password" name="password" id="user-register-password" placeholder="Enter Password" required>
                <small id="small-register-userPassword">Error Message</small>

                <input type="password" name="passwordConfirm" id="user-register-password-confirm" placeholder="Password Confirm" required>
                <small id="small-register-userPasswordConfirm">Error Message</small>

                <input type="number" name="phone" id="user-register-phone" placeholder="Enter Phone No." required>
                <small id="small-register-userPhone">Error Message</small>

                <input type="text" name="city" id="user-register-city" placeholder="Enter City" required>
                <small id="small-register-userCity">Error Message</small>

                <input type="text" name="state" id="user-register-state" placeholder="Enter State" required>
                <small id="small-register-userState">Error Message</small>

                <input type="number" name="pincode" id="user-register-pin" placeholder="Enter Pin Code" required>
                <small id="small-register-userPin">Error Message</small>

                <input type="text" name="country" id="user-register-country" placeholder="Country" required>
                <small id="small-register-userCountry">Error Message</small>

                <input type="submit" name="register-user" value="Register">
            </form>
        </div>



        <!-- Login Form -->

        <div class="login-form-container" id="user-login-form-container">
            <h3>Not Registered? <span>Register Here!</span></h3>
            <h1>Retailer Login Here!</h1>
            <form action="myaccount" method="POST">
                
                <input type="email" name="email" id="user-login-email" placeholder="Enter Email" required>
                <small id="small-login-userEmail">Error Message</small>

                <input type="password" name="password" id="user-login-password" placeholder="Enter Password" required>
                <small id="small-login-userPassword">Error Message</small>

                
                <input type="submit" name="login-user" value="Login">
            </form>
        </div>

    </div>



    <!-- Manager Form -->


    <div class="forms-container" id="manager-forms-container">
        <div class="register-form-container" id="manager-register-form-container">
            <h3>Already Registered? <span>Login Here!</span></h3>
            <h1>Manager Register Here!</h1>
            <form action="/coming-soon" method="POST">
                <input type="text" name="name" id="manager-register-name" placeholder="Enter Name" required>
                <small id="small-register-managerName">Error Message</small>

                <input type="email" name="email" id="manager-register-email" placeholder="Enter Email" required>
                <small id="small-register-managerEmail">Error Message</small>

                <input type="password" name="password" id="manager-register-password" placeholder="Enter Password" required>
                <small id="small-register-managerPassword">Error Message</small>

                <input type="password" name="password-confirm" id="manager-register-password-confirm" placeholder="Password Confirm" required>
                <small id="small-register-managerPasswordConfirm">Error Message</small>

                <input type="number" name="phone" id="manager-register-phone" placeholder="Enter Phone No." required>
                <small id="small-register-managerPhone">Error Message</small>

                <input type="text" name="city" id="manager-register-city" placeholder="Enter City" required>
                <small id="small-register-managerCity">Error Message</small>

                <input type="text" name="state" id="manager-register-state" placeholder="Enter State" required>
                <small id="small-register-managerState">Error Message</small>

                <input type="number" name="pin" id="manager-register-pin" placeholder="Enter Pin Code" required>
                <small id="small-register-managerPin">Error Message</small>

                <input type="text" name="country" id="manager-register-country" placeholder="Country" required>
                <small id="small-register-managerCountry">Error Message</small>

                <input type="submit" name="register-manager" value="Register">
            </form>
        </div>



        <!-- Login Form -->

        <div class="login-form-container" id="manager-login-form-container">
            <h3>Not Registered? <span>Register Here!</span></h3>
            <h1>Manager Login Here!</h1>
            <form action="/comingsoon" method="POST">
                
                <input type="email" name="email" id="manager-login-name" placeholder="Enter Email" required>
                <small id="small-login-managerEmail">Error Message</small>

                <input type="password" name="password" id="manager-login-password" placeholder="Enter Password" required>
                <small id="small-login-managerPassword">Error Message</small>

                
                <input type="submit" name="login-manager" value="Login">
            </form>
        </div>

    </div>


    <script src="/js/client-register.js"></script>
    <script src="/js/validateforms/validateUserForms.js"></script>
    <script src="/js/header_updated_s.js"></script>
    
</body>
</html>