<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>E-Commerce Website</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>B-2-C e-commerce Websites</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            E-commerce platforms that are directly delivering to the customers are growing each day as mobile and desktop users are preferring to shop online. The ease of managing one or none warehouses has made it so effective. We understand that conversions and the long duration of sessions are very important for e-commerce websites. And our team makes sure to create pictures and content-rich frontend and completely glitch-free backend for high-end performance under the immense traffic load.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>B-2-B e-commerce websites</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            B-2-B e-commerce websites are the wholesale market that went online. The main challenge is to keep track of every order received and cross-check the validity of the information received. We have experienced that integrating the 2-factor validation APIs in e-commerce websites make it easy for our client to receive verified details and achieve the deals without any mishaps. Our team has successfully helped many clients to achieve their warehouse websites live on the internet and receive thousands of valid purchase orders and payments via secure payment gateways.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the CMS and other technicalities required</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">E-commerce websites are completely dependent on the CMS, servers, domain, and security certificates integrated into their in builts.
                                </div>
                                <div class="para-white">We make sure to assemble the best resources to build high-end websites that can handle any amount of traffic load and requests submitted to the server.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the segmentation of customers
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers is very necessary as that outlines for us, the 
                                    Traffic load from particular demographics and potential timing 
                                    
                
                                </div>
                                <div class="para-white">when such traffic loads can reach the rooftops.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Upload the websites
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Get the website live and cross-check all the functionalities. We ensure end to end functionalities performance on all the pages of the website. E-commerce websites need a seamless backend to continuously add and delete the products.
                
                                </div>
                                <div class="para-white">We ensure the website developed is for the long run and can pass the requirements of the future as well.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance of the building product is very necessary as that ensures safety,
                
                                </div>
                                <div class="para-white">interactive UI/UX, easy to use functionalities and smooth payment gateways.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>