<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Audio Editing Services</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Audio for Video</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            We all know that audio is the life of any recorded or still motion in a video. Without the background sound effects, music, and voices it will be all a dead end. That's why we make sure to create high-quality audio clips for our clients as per the scripts of the videos. Our detailed and effective audio work has made us able to win the confidence of numerous clients to assign us their complete video campaigns.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Audio Content Edition</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Jingles, radio Ads, podcasts, interviews, radio theater, and other kinds of audio content are getting highly famous for entertaining and branding. And numerous apps as Spotify, amazon audiobook, podcats, etc; have also arrived to boost the only audio digital platforms. But, as the niche is new and still developing, there's a sheer requirement for delivering the best audio content. Our team helps our clients' to deliver that. 
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Get Clarity on the Agenda of the Project</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">With effective sound engineering moods of any video can be completely altered from sad to funny or from lifeless to highly emotional.
                                </div>
                                <div class="para-white">Our team makes sure to understand the objective of the video or audio content and present our clients with a few samples to be on the same page as them regarding the goals, sound, and feel of the video project.

                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span>Create or assemble the sound library
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> As infringment on the copyrights of sounds created by anyone can get the videos banned. 
                                    
                
                                </div>
                                <div class="para-white"> We take utter care while picking up the sounds for the videos and the license of permission to use them. If the desired sound can not be found we create them in our studio for effective results.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Brakdown the Video timeline for Audio
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Effective videos can be only created if the right sound effects are put in the right place.
                
                                </div>
                                <div class="para-white">We ensure to test out the right sounds and their effects on the clips. This helps the video to engage people for a long time and cue them about the scenes coming up in a video, making the video more human and impressive.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span>Deliver the Audio Project</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We share the sound contents or edited sound clips for videos with our clients.
                
                                </div>
                                <div class="para-white"> It is very important for us to deliver the quality sound clips best for each project of our clients'. To achieve that we keep our clients in the loop during each stage to makes sure that we deliver within the time frame and as per their requirements. 
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>