<!DOCTYPE html>
<html lang="en">
  <!-- oncontextmenu="return false" -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Learn with PRYMUS - How to grow your busines digitally.">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">


    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer1.css">

  <title>Prymus - Prymus Blog</title>

 



     <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css"/>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png"/> -->
    <!--build:css assets/css/styles.min.css-->
    <link rel="stylesheet" href="/css/blog/assets/css/elegant.css"/>
    <link rel="stylesheet" href="/css/blog/assets/css/custom_bootstrap.css"/>
    <link rel="stylesheet" href="/css/blog/assets/css/slick.css"/>
    <link rel="stylesheet" href="/css/blog/assets/css/plyr.min.css"/>
    <!-- cutom css -->
    <link rel="stylesheet" href="/css/blog/assets/css/style.css"/>
    <!--endbuild-->


     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>

<style>

.logo-conatiner img{
    width: 18rem;
}

.nav-container ul li a{
    font-size: 1rem !important;
    font-family: Helvetica, sans-serif;
}

a.brand{
    padding: 1rem 3rem;
    border-radius: 30px;
}

.footer{
    line-height: 0 !important;
}

.footer .data-container h1{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.footer .data-container p{
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.all-rights h1{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: Helvetica, sans-serif;
}

input.logout{
  font-size: 1rem !important;
}
</style>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fca330de6e43400185bbc13&product=sop' async='async'></script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


    
  <!-- pre loader -->
   <div id="load">
    <div class="load__content">
      <div class="load__icon"><img src="assets/images/icons/load.gif" alt="Loading icon"/></div>
    </div>
  </div>
  <!--Nav bar -->
  
          <!-- Social Icons -->
          
        </div>
      </div>
    </header>
    <!-- Main Section starts here -->
    <div id="content">
    <div class="container">
      <div class="blog-with-sidebar">
        <div class="row">
    <!-- Right side bar starts here which contains the Category & Trending Post -->
          <div class="col-12 col-md-5 col-lg-4 order-md-2">
            <div class="blog-sidebar">
              <div class="blog-sidebar-section -category">
                <div class="center-line-title">
                  <!-- Blog category sidebar -->
                  <h5>Categories</h5>
                </div>
                  <a class="category -bar " href="#">
                                    <!--Category 1::Background Image size is 340 x 80   -->
                                <div class="category__background" style="background-image: url(/css/blog/assets/images/backgrounds/category-a.png)"></div>
                                <h5 class="title">Web Development</h5>
                                <h5 class="quantity">12</h5></a><a class="category -bar " href="#">
                                    <!-- Category 2::Background Image size is 340 x 80 -->
                                <div class="category__background" style="background-image: url(/css/blog/assets/images/backgrounds/category-b.png)"></div>
                                <h5 class="title">Ui/Ux</h5>
                                <h5 class="quantity">6</h5></a><a class="category -bar " href="#">
                                    <!-- Category 3::Background Image size is 340 x 80 -->
                                <div class="category__background" style="background-image: url(/css/blog/assets/images/backgrounds/category-c.png)"></div>
                                <h5 class="title">Digital Marketing</h5>
                                <h5 class="quantity">15</h5></a><a class="category -bar " href="#">
                                    <!-- Category 4::Background Image size is 340 x 80 -->
                                <div class="category__background" style="background-image: url(/css/blog/assets/images/backgrounds/category-d.png)"></div>
                                <h5 class="title">Content Marketing</h5>
                                <h5 class="quantity">8</h5></a>
              </div>
                    <!-- Trending Post Side Bar Section-->
              <div class="blog-sidebar-section -trending-post">
                <div class="center-line-title">
                  <h5>Trending post</h5>
                </div>
                               <!--Trending Post 1 -->
                              <div class="trending-post">
                                <div class="trending-post_image">
                                  <div class="rank">1</div>
                                        <!--Img size is 100 x 100 -->
                                    <img src="/css/blog/assets/images/backgrounds/trending-post-a.png" alt="Web Accesibility For Beginers.."/>
                                </div>
                                <div class="trending-post_content">
                                  <!-- Category Header -->
                                  <h5>Web Development</h5>
                                      <a href="#">Web Accesibility For Beginers..</a>
                                  <div class="info__time"><i class="far fa-clock"></i>
                                    <p>Nov, 2020</p>
                                  </div>
                                </div>
                              </div>

                              <!-- Trending Post 2 -->
                              <div class="trending-post">
                                <div class="trending-post_image">
                                  <div class="rank">2</div>
                                      <!--Img size is 100 x 100 -->
                                    <img src="/css/blog/assets/images/backgrounds/trending-post-b.png" alt="Free Ui Design Resources"/>
                                </div>
                                <div class="trending-post_content">
                                  <!-- Category Header -->
                                  <h5>Ui/UxDesign</h5>
                                    <a href="#">Free Ui Design Resources</a>
                                  <div class="info__time"><i class="far fa-clock"></i>
                                    <p>Nov, 2020</p>
                                  </div>
                                </div>
                              </div>

                              <!-- Trending Post 3 -->
                              <div class="trending-post">
                                <div class="trending-post_image">
                                  <div class="rank">3</div>
                                    <!--Img size is 100 x 100 -->
                                    <img src="/css/blog/assets/images/backgrounds/trending-post-c.png" alt="Here's How Your Diet Can Help Yo Excel in Exams"/>
                                </div>
                                <div class="trending-post_content">
                                    <!-- Category Header -->
                                  <h5>Web Development</h5>
                                      <a href="#">Should you Learn PHP iN 2020</a>
                                  <div class="info__time"><i class="far fa-clock"></i>
                                    <p>Nov, 2020</p>
                                  </div>
                                </div>
                              </div>

                              <!-- Trending Post 4 -->
                              <div class="trending-post">
                                <div class="trending-post_image">
                                  <div class="rank">4</div>
                                    <!--Img size is 100 x 100 -->
                                    <img src="/css/blog/assets/images/backgrounds/trending-post-d.png" alt="why others accept while AudioJungle..."/>
                                </div>
                                <div class="trending-post_content">
                                    <!-- Category Header -->
                                  <h5>Open-source</h5>
                                    <a href="#">Fuse Free Open source Blog...</a>
                                  <div class="info__time"><i class="far fa-clock"></i>
                                    <p>Nov, 2020</p>
                                  </div>
                                </div>
                              </div>

                              <!-- Trending Post 5 -->
                              <div class="trending-post">
                                <div class="trending-post_image">
                                  <div class="rank">5</div>
                                    <!--Img size is 100 x 100 -->
                                    <img src="/css/blog/assets/images/backgrounds/trending-post-e.jpg" alt="Is node Js Dead??...Long live Deno"/>
                                </div>
                                <div class="trending-post_content">
                                  <!-- Category Header -->
                                  <h5>Web Development</h5>
                                      <a href="#">Is node Js Dead??...Long live Deno</a>
                                  <div class="info__time"><i class="far fa-clock"></i>
                                    <p>Nov, 2020</p>
                                  </div>
                                </div>
                              </div>
              </div>
              <!-- Subscribe Form -->
              <!-- <form class="subcribe-box subcribe-box" action="/" method="POST">
                <h5>Subcribe</h5>
                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.</p>
                <input placeholder="Your email" name="email" type="email"/>
                <a class="btn -normal" href="#">Subcribe</a>
              </form> -->
            </div>
          </div>
  <!--- End of Right Side Bar ----->

          <div class="col-12 col-md-7 col-lg-8 order-md-1">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                    <div class="post-card -full -center">
                      <a class="card__cover" href="/blogs/blog1">
                        <img src="/css/blog/assets/images/posts/img1.png" alt="Getting started with DevOps automation"/>
                      </a>
                      <div class="card__content">
                        <!-- Content Category -->
                        <h5 class="card__content-category">Opensource</h5>
                        <!-- Content Heading -->
                          <a class="card__content-title" href="/blogs/blog1">Getting started with DevOps automation</a>
                        <div class="card__content-info">
                          <!-- Content Author -->
                          <div class="info__time info__author"><i class="far fa-user"></i>
                            <p>Garima</p>
                          </div>
                          <!-- Content Time and Date -->
                          <div class="info__time"><i class="far fa-clock"></i>
                            <p>Clock 2020</p>
                          </div>
                          <!-- Comments -->
                          <div class="info__comment"><i class="far fa-comment"></i>
                            <p>3</p>
                          </div>
                        </div>
                        <!-- post Description -->
                        <p class="card__content-description">By now, most people in technology are familiar with the term DevOps. What we call “DevOps” will often differ between organizations, yet one thing remains the same: DevOps is defined by people building software and how they work together.</p>
                        <a class="more-btn" href="/blogs/blog1">Read more </a>
                      </div>
                    </div>
              </div>

            </div>
          <div class="news-block__content -default">
              <div class="news-block__content__slide">
                  <div class="row">
                    <div class="col-12">
                        <div class="post-card -large">
                          <a class="card__cover" href="/blogs/blog2">
                          <!-- img size 750 x 385 -->
                          <img src="./css/blog//assets/images/posts/ecommerce.jpg" alt="Ecommerce Development Trends"/></a>
                            <div class="card__content">
                              <!-- Post Content -->
                               <h5 class="card__content-category">Web Dev</h5>
                                 <a class="card__content-title" href="/blogs/blog2">Ecommerce Development Trends</a>
                                  <div class="card__content-info">
                                    <div class="info__time">
                                       <i class="far fa-clock"></i>
                                      <p>Clock 2020</p>
                                    </div>
                                      <div class="info__comment"><i class="far fa-comment"></i>
                                        <p>3</p>
                                      </div>
                                  </div>
                             </div>
                          </div>
                        </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-12 col-sm-6">
                                    <div class="post-card -small">
                                       <a class="card__cover" href="/blogs/blog3">
                                         <!-- img size 370 x 247 -->
                                         <img src="./css/blog//assets/images/posts/react.jpg" alt="Why You Should Be Using React"/></a>
                                         <!-- Post content -->
                                      <div class="card__content">
                                        <h5 class="card__content-category">Web Dev</h5>
                                         <a class="card__content-title" href="/blogs/blog3">Why You Should Be Using React</a>
                                        <div class="card__content-info">
                                          <div class="info__time"><i class="far fa-clock"></i>
                                            <p>Clock 2020</p>
                                          </div>
                                          <div class="info__comment"><i class="far fa-comment"></i>
                                            <p>3</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                    <div class="post-card -small">
                                      <a class="card__cover" href="/blogs/blog4">
                                           <!-- img size 370 x 247 -->
                                        <img src="./css/blog//assets/images/posts/webdesign.jpg" alt="Best design resources websites every developer should bookmark"/></a>
                                        <!-- post content -->
                                      <div class="card__content">
                                        <h5 class="card__content-category">Ui/Ux</h5>
                                         <a class="card__content-title" href="/blogs/blog4">Best design resources websites every developer should bookmark</a>
                                        <div class="card__content-info">
                                          <div class="info__time"><i class="far fa-clock"></i>
                                            <p>Clock 2020</p>
                                          </div>
                                          <div class="info__comment"><i class="far fa-comment"></i>
                                            <p>3</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>

                              <div class="col-12 col-sm-6">
                                    <div class="post-card -small">
                                       <a class="card__cover" href="/blogs/blog5">
                                         <!-- img size 370 x 247 -->
                                         <img src="./css/blog//assets/images/posts/Opensource.jpg" alt="Best Open Source Tools For Developers"/></a>
                                         <!-- Content -->
                                      <div class="card__content">
                                        <h5 class="card__content-category">Open-Source</h5>
                                         <a class="card__content-title" href="/blogs/blog5">Best Open Source Tools For Developers</a>
                                        <div class="card__content-info">
                                          <div class="info__time"><i class="far fa-clock"></i>
                                            <p>Clock 2020</p>
                                          </div>
                                          <div class="info__comment"><i class="far fa-comment"></i>
                                            <p>3</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                    <div class="post-card -small">
                                      <a class="card__cover" href="/blogs/blog6">
                                        <!-- img size 370 x 247 -->
                                        <img src="./css/blog//assets/images/posts/productivity.png" alt="The 14 Best Productivity Tools for Developers"/></a>
                                        <!-- Content -->
                                      <div class="card__content">
                                        <h5 class="card__content-category">Productivity</h5>
                                         <a class="card__content-title" href="/blogs/blog6">The 14 Best Productivity Tools for Developers</a>
                                        <div class="card__content-info">
                                          <div class="info__time"><i class="far fa-clock"></i>
                                            <p>Clock 2020</p>
                                          </div>
                                          <div class="info__comment"><i class="far fa-comment"></i>
                                            <p>3</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!-- Footer starts Here -->

          </div>
          </div>
          
<%- include('footer1.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>
                <!-- Blog Tags -->
         


    <!--js files are in assets/js-->
    <script rel="script/javascript" src="/css/blog/assets/js/jquery.min.js"></script>
    <script rel="script/javascript" src="/css/blog/assets/js/slick.min.js"></script>
     <script rel="script/javascript" src="/css/blog/assets/js/plyr.min.js"></script>
    <script rel="script/javascript" src="/css/blog/assets/js/masonry.pkgd.min.js"></script>
    <script rel="script/javascript" src="/css/blog/assets/js/imagesloaded.pkgd.min.js"></script>
    <script rel="script/javascript" src="/css/blog/assets/js/vimeo.player.min.js"></script>
    <script rel="script/javascript" src="/css/blog/assets/js/main.js"></script>
    <!--end of js files-->


    



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s_blog.js"></script>
<!-- <script src="/js/header_updated_n.js"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


    <script src="/animated/js/jquery-2.1.1.js"></script>
    <script src="/animated/js/main.js"></script>

    <!-- <script>
        $('.carousel').carousel({
            interval: 2000,
            keyboard: true
        })
    </script> -->

    <script>

$(document).keydown(function(e){ 
    if(e.which === 123){ 
 
       return false; 
 
    } 
 
}); 
    </script>

</body>
</html>