<!DOCTYPE html>
<!-- <html lang="en" oncontextmenu="return false"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/animated/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/animated/css/style.css"> <!-- Resource style -->
	<script src="/animated/js/modernizr.js"></script>

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>




    
        <!-- Our Services -->



        <div class="container-fluid ourServices pt-5 mt-5 mb-5">
            <div>
            <h1 class="display-1 text-center headFont" style="padding-top: 10rem;">WE ARE LOOKING FOR:</h1>
            </div>  
            
            

        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Website-Designing 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#website-development">Digital Marketing Manager</a></h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We are looking for Digital Marketer who is thorough with SEO, SME, PPC, and SMO. If you are someone who believes that he/she can deliver please submit your resume here.</p>
                        <a class="btn btn-primary mb-2 servicesBtn service" href="/career/digital-marketing-manager">Apply Here</a>
                    </div>
                </div>

                

            </div>

            <div class="col-lg-4 offset-lg-2 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Application Development 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#mobile-app">Photographer</a></h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We are looking for a Photographer who can understand the clients’ requirements and create the personality of any brand with eye-catching pictures. If you are someone who believes that he/she can deliver please submit your resume here.</p>
                        <a class="btn btn-primary mb-2 servicesBtn" href="/career/photographer">Apply Here</a>
                    </div>
                </div>

                

            </div>

        </div>





    </div>


    <div class="row">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Product Shoot 656 x 500  Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#photoshoot">Telemarketing Representative</a></h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We are looking for a telemarketing Representative who can understand the clients’ requirements and convert the deals on calls. If you are someone who believes that he/she can deliver please submit your resume here.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/career/telemarketing-representative">Apply Here</a>
                </div>
            </div>

            

        </div>

        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Audio Video Editing 656 x 500 Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#audio-video">Graphic Designer</a></h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We are looking for Graphic designers who have the zeal to create eye-catching and effective Ads. If you are someone who believes that he/she can deliver please submit your resume here.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/career/graphic-designer">Apply Here</a>
                </div>
            </div>

            

        </div>

    </div>





</div>




    

    <!-- -------footer----------- -->

    <%- include('footer1.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>
<script src="/js/header_updated_n.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="/animated/js/jquery-2.1.1.js"></script>
    <script src="/animated/js/main.js"></script>

    <!-- <script>
        $('.carousel').carousel({
            interval: 2000,
            keyboard: true
        })
    </script> -->

    <script>

$(document).keydown(function(e){ 
    if(e.which === 123){ 
 
       return false; 
 
    } 
 
}); 
    </script>

    
</body>
</html>