<!DOCTYPE html>
<!-- <html lang="en" oncontextmenu="return false"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/animated/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/animated/css/style.css"> <!-- Resource style -->
	<script src="/animated/js/modernizr.js"></script>

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>




    
        <!-- Our Services -->



        <div class="container-fluid ourServices pt-5 mt-5 mb-5">
            <div>
            <h1 class="display-1 text-center headFont">Graphic Designing</h1>
            </div>  
            
            <div class="row">
                <div class="col-lg-4 offset-lg-1 col-md-12">
                    <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                        <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Digital marketing Gif 656 x 500 Gif.gif" width="328">
                    
                        <div class="card-body">
                            <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#digital-marketing">Digital Marketing</a></h1>
                            <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We, humans have digitalized every operation yet brands find it difficult to create a digital presence on online mediums. Our digital marketing ensures to extend our full support to budding or established businesses to grow their maximum capabilities on all the digital mediums.</p>
                            <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#digital-marketing">Read More</a>
                        </div>
                    </div>

                    

                </div>

                <div class="col-lg-4 offset-lg-2 col-md-12">
                    <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                        <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Graphic-Designing 656 x 500 Gif.gif" width="328">
                    
                        <div class="card-body">
                            <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#graphic-design">Content Writing</a></h1>
                            <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Developing eye-catching and irresistible creatives associated with your online and offline mediums is very important to stand out from the rat race of products. Our creative team has created and rejuvenated the creative identities and personas of many brands to touch the hearts.</p>
                            <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#graphic-design">Read More</a>
                        </div>
                    </div>

                    

                </div>

            </div>





        </div>


        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Website-Designing 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#website-development">Digital Marketer</a></h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Websites are never going to die. As they have been getting more and more interactive and live with times. Our frontend developers can give your websites completely seamless and easy on eyes look with interactive functionalities whereas our backend developer ensures the sturdiness of the website to tackle high number of traffic.</p>
                        <a class="btn btn-primary mb-2 servicesBtn service" href="/our-services#website-development">Read More</a>
                    </div>
                </div>

                

            </div>

            <div class="col-lg-4 offset-lg-2 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Application Development 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#mobile-app">Video Editor</a></h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Mobile App is the very famous digital platforms among B-2-B and B-2-C business models. They are key performers in the mobile market as they can provide thousands of functions with utter smoothness and ease for users. We have built many apps to assist our clients in conducting seamless interaction with their customers and grow their businesses. </p>
                        <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#mobile-app">Read More</a>
                    </div>
                </div>

                

            </div>

        </div>





    </div>


    <div class="row">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Product Shoot 656 x 500  Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#photoshoot">Business Development</a></h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">In today's time, photoshoots are extensively getting creative, challenging, and attractive. So, to beat this neck-to-neck competition and embark one’s image in the customer’s memory one requires the assistance of a very creative and experienced team such as ours.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#photoshoot">Read More</a>
                </div>
            </div>

            

        </div>

        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Audio Video Editing 656 x 500 Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont"><a href="/our-services#audio-video">Telecommunication</a></h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Audio and Video are the most-watched and heard content online and offline. Our sound and video creators have been creating numerous viral videos and audios for our client to help them out to spread their marketing message loud and clear.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#audio-video">Read More</a>
                </div>
            </div>

            

        </div>

    </div>





</div>




    

    <!-- -------footer----------- -->

    <%- include('footer1.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>
<script src="/js/header_updated_n.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="/animated/js/jquery-2.1.1.js"></script>
    <script src="/animated/js/main.js"></script>

    <!-- <script>
        $('.carousel').carousel({
            interval: 2000,
            keyboard: true
        })
    </script> -->

    <script>

$(document).keydown(function(e){ 
    if(e.which === 123){ 
 
       return false; 
 
    } 
 
}); 
    </script>

    
</body>
</html>