<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/email-marketing.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Coded Websites</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>CODED WEBSITE</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/personalised-email.png" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Back-end technology</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            PHP, python Nodes Js, JavaScript and many  other backend suffice languages are a necessity for advance functionalities and complex websites. Our team to make sure to pick the best languages as per the requirement of clients and deliver smooth projects within the given time frame.

                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/new-interaction-email.png" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Front-end technology</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Bootstrap, CSS5, flutter, react native and many other languages are very effective in creating interaction rich front-end for  your websites. The selection of front end languages depended on the  devices which will be used to access the website and the functions that are required to be integrated.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            






                <!-- --------------------------------------------------------------------------------------- -->


                

        <!-- <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="server-service">
                    <div class="img-container">
                        <img src="/images/app4.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>E-commerce Apps</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            E-commerce websites based on woo-commerce, Magento, Shopify, and other platforms can be converted into smart apps for all kinds of platforms as android, iOS platforms, Linux, Mac, Windows, and Google Fuchsia. E-commerce Apps provides Easy onboarding, Native App, Unlimited Product categories, Seamless Product Navigation, Multiple Secure Payment Options, and many other exclusive features for your e-commerce mobile shops.
                        </p>
                    
                    </div>

                </div>
                </div>

            -->

                </div> 
                
                </div> 
            
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>how we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Discuss The Agenda</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We discuss the agenda of the project with the clients and propose the better way to achieve the 
                                </div>
                                <div class="para-white">agenda and fulfill the end to end requirements of the user of the project
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Work on the flow of the functionalities</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> What is important is smooth flow of functionalities in a project.
                
                                </div>
                                <div class="para-white">For that we design every screen of the project consisting the content, images, forms, functionalities and call to action buttons.



                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Decide and communicate the languages to be used</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">After a thorough research on the project and functionalities to be integrated we select few technologies for the backend, front-end and 
                
                                </div>
                                <div class="para-white">server to deliver the best version of the project as per the traffic load, budget and devices to be used to access the project.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance of the project</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Our experince has taught us to make sure that the end user of the project is satisfied with all the functionalities.
                
                                </div>
                                <div class="para-white">The website development team of Prymus Brandcom makes sure to exhaust all the possible solutions to create the best.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <!-- <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Launch the beta version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Launching the beta version is a very smart choice as only the real users of Apps can optimize the functionalities provided in any App.
                
                                </div>
                                <div class="para-white">The users are also communicated to extensively use the beta-version and provide their feedbacks  We make sure to assist and learn from the user’s feedback to create the best App for the final launch.
                
                                </div>
                            </div>
                        </div>

                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">6. <span style="margin-left: 8rem;"></span> Launch the Final Version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As a result of our communicative and strategized process, we deliver the best Apps.
                
                                </div>
                                <div class="para-white">Our Mobile App Developing team ensures to execute all the given requirements with the best possible solutions.
                 
                                </div>
                            </div>
                        </div> -->

                        </div>
                        </div>

        
                        <div class="seo-triangle-container-2">
                            <div class="seo-triangle-2">
                            
                            </div>
                            </div>            





<!-- -------footer----------- -->

<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>