<!DOCTYPE html>
<!-- <html lang="en" oncontextmenu="return false"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/contact2.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/animated/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/animated/css/style.css"> <!-- Resource style -->
	<script src="/animated/js/modernizr.js"></script>

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


<div class="container-fluid mt-5 mb-5 pt-5 pb-5" id="visit">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2">
            <h1 id="visit-text">VISIT US HERE ❤</h1>
        </div>   
    </div>

    <div class="row mt-5 mb-5 pt-5 pb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14007.278678280938!2d77.2853657!3d28.6351663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6db0dad7302ece8!2sPrymus%20Brandcom%20India%20Private%20Limited!5e0!3m2!1sen!2sin!4v1606303810206!5m2!1sen!2sin" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>



<!-- Address Desktop -->

<div class="container-fluid ourServices pt-5 mt-5 mb-5 mt-5" id="desktop"> 
    

    <div class="row mt-5 mb-5 mt-5" style="min-height: 50vh;">
        <div class="col-lg-5 offset-lg-1 col-md-12">
            <div class="card text-center one-card desktop">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" id="com-logo" src="/images/contact-page-logo.png">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Address.png">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Office Address:</h1>
                    <h1 class="card-title subHeadFont mb-4" style="color: black;">Prymus Brandcom India Pvt Ltd</h1>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 1.5rem;">206-207 2nd Floor,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 1.5rem;">Pooja complex
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 1.5rem;">Veer savarkar Block,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 1.5rem;">Shakarpur, Delhi - 110092, metro pillar no. 59
                    </p>

                    
                   
                    
                </div>

            </div>
        </div>
    


    
        <div class="col-lg-5 col-md-12">
            <div class="card text-center one-card desktop">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Landline.png">
                <div class="card-body">

                    
                    <h1 class="card-title subHeadFont mb-4">Phone No.:</h1>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">011-42448777,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">011-42448788
                    </p>

                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address email" src="/images/Email.png">

                    <h1 class="card-title subHeadFont mb-4">Email Address:</h1>

                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">info@prymus.co.in
                    </p>


                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Timings.png">

                    <h1 class="card-title subHeadFont mb-4">Timing:</h1>

                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">Monday - Saturday (10 A.M to 7 P.M)
                    </p>
                    

                </div>

            </div>
        </div>




    </div>



    
        
    </div>



    


    
</div>
    
    

</div>


<!--  -->




    

<!-- Address Mobile -->

<div class="container-fluid ourServices pt-5 mt-5 mb-5 mt-5" id="mobile"> 
    

    <div class="row mt-5 mb-5 mt-5" style="min-height: 50vh;">
        <div class="col-lg-5 offset-lg-1 col-md-12">
            <div class="card text-center one-card">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" id="com-logo" src="/images/contact-page-logo.png">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Address.png">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Office Address:</h1>
                    <h1 class="card-title subHeadFont mb-4" style="color: black;">Prymus Brandcom India Pvt Ltd</h1>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">206-207 2nd Floor,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">Pooja complex
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">Veer savarkar Block,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">Shakarpur, Delhi - 110092, metro pillar no. 59
                    </p>

                    
                </div>

            </div>
        </div>
    


    
        <div class="col-lg-5 col-md-12">
            <div class="card text-center one-card">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Landline.png">

                    <h1 class="card-title subHeadFont mb-4">Phone No:</h1>

                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">011-42448777,
                    </p>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">011-42448788
                    </p>

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Timings.png">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Timing:</h1>
                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">Monday - Saturday (10 A.M - 7 P.M)
                    </p>

                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4 address" src="/images/Email.png">

                    <h1 class="card-title subHeadFont mb-4">Email Address:</h1>

                    <p class="card-text text-center h2 text-justify pl-2 pr-2 paraDiffer" style="line-height: 2.5rem;">info@prymus.co.in
                    </p>
                    

                </div>

            </div>
        </div>




    </div>



    
        
    </div>



    


    
</div>
    
    

</div>


<!--  -->


    
    <!-- Website Health Report -->

    <div class="container-fluid webHealth text-center mt-1 pt-2 pl-2 pr-2 mb-5" id="website-health">
        <div class="heading-health text-center">
            <h1 class="display-1 headFont">HOW WE CAN HELP YOU?</h1>
        </div>
        <form action="/contact" method="post" class="m-5" id="contact-form">
            <div class="row mt-5">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control whInput" placeholder="Enter Name" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control whInput" placeholder="Enter Email" required>
                    </div>
                </div>    
            </div>



            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="number" name="whatsapp" class="form-control whInput" placeholder="Whatsapp No." required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="number" name="mobile" class="form-control whInput" placeholder="Enter Mobile No." required>
                    </div>
                </div>    
            </div>


            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="city" class="form-control whInput" placeholder="Enter City" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="state" class="form-control whInput" placeholder="Enter State" required>
                    </div>
                </div>    
            </div>


            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="number" name="pin" class="form-control whInput" placeholder="Enter Pin" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="country" class="form-control whInput" placeholder="Enter Country" required>
                    </div>
                </div>    
            </div>




            <div class="row">
                <div class="col-lg-8 offset-lg-2 pt-5">
                    <div class="form-group">
                        <textarea name="requirements" class="form-control whInput" placeholder="Any Other Requirements" required></textarea>
                    </div>
                </div>      
            </div>




            <div class="row text-center mt-5">
                <div class="col text-center mt-5">
                    <input type="submit" class="btn btn-success whSubmit" name="submit" value="SUBMIT">
                </div>
            </div>
        </form>
    </div>



    

    <!-- -------footer----------- -->

    <%- include('footer.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>
<script src="/js/header_updated_n.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="/animated/js/jquery-2.1.1.js"></script>
    <script src="/animated/js/main.js"></script>

    <!-- <script>
        $('.carousel').carousel({
            interval: 2000,
            keyboard: true
        })
    </script> -->

    <script>

$(document).keydown(function(e){ 
    if(e.which === 123){ 
 
       return false; 
 
    } 
 
}); 
    </script>

    
</body>
</html>