<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/contact1.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


    <!-- Container Starts Here -->

    <div class="container-fluid-1">
        
        
            <div class="col-lg-2-2 boxes">
                <h1>Office Address:</h1>
                <h2>206-207 2nd Floor, pooja complex, veer savarkar Block, Shakarpur, Delhi - 110092, metro pillar no. 59</h2>
                
            </div>
            <div class="col-lg-2-2 boxes">
                <h1>Timings:</h1>
                <h2>Mon-Sat: 10 a.m -7 p.m</h2>
                
            </div>
            <div class="col-lg-2-2 boxes">
                <div>
                <h1>Email:</h1>
                <h2>info@prymus.co.in</h2>
                </div>

                <div>
                    <h1>Phone No:</h1>
                    <h2>+91-9910648777</h2>
                    </div>

                
            </div>
        </div>
    


    <!-- Website Health Report -->

    <div class="container-fluid webHealth text-centermt-1 pt-2 pl-2 pr-2 mb-5" id="website-health">
        <div class="heading-health text-center">
            <h1 class="display-1 headFont">CONTACT US</h1>
        </div>
        <form action="/contact" method="post" class="m-5">
            <div class="row mt-5">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control whInput" placeholder="Enter Name" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control whInput" placeholder="Enter Email" required>
                    </div>
                </div>    
            </div>



            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="whatsapp" class="form-control whInput" placeholder="Whatsapp No." required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="mobile" class="form-control whInput" placeholder="Mobile No" required>
                    </div>
                </div>    
            </div>

            



            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="city" class="form-control whInput" placeholder="Enter City" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="state" class="form-control whInput" placeholder="Enter State" required>
                    </div>
                </div>    
            </div>



            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="pin" class="form-control whInput" placeholder="Enter Pin" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="country" class="form-control whInput" placeholder="Enter Country" required>
                    </div>
                </div>    
            </div>


            <div class="row mt-5">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="form-group">
                        <textarea name="requirements" class="form-control whInput" placeholder="Any Specific Requirements"></textarea>
                    </div>
                </div>    
            </div>


            <div class="row text-center mt-5">
                <div class="col text-center mt-5">
                    <input type="submit" class="btn whSubmit" name="submit" value="SUBMIT">
                </div>
            </div>

            
    
        </form>
    </div>



    

    <!-- -------footer----------- -->

    <%- include('footer.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>
<script src="/js/header_updated_n.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  

    
</body>
</html>