<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>CONTENT MARKETING</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Online Reputation Management</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            More than ever review blogs and niche specific blogs are getting famous and helping brands to expose their products and services to interest specific customer base. Our PR teams has partnered thousands of blogs to support brands to reach out to thousands of people via written content.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Mobile Seo</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            As most people are using mobiles to carry out researches on Google and other search engines, they are using very few and specific words. Our team ensures to conduct mobile Specific research and help brands to create mobile research specific content.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            <div class="services-container">
                <div class="all-services" id="services-1">
                    <div class="inner-service" id="coded-service">
                        <div class="img-container">
                            <img src="/images/app3.gif" alt="">
                        </div>
                        <div class="head-container">
                            <h1>Website Content</h1>
                        </div>
    
                        
                        <div class="content-container">
                            <p text-align="justify">
                                Websites are the digital representative of freelancers, e-commerce companies, product based companies and service based companies and help the website visitors to get complete information regarding the products or services to purchase or use. Our team of writers ensures to enclose all the information required and present them in interactive manner.
                            </p>
                        </div>
                        
                    </div>
                    <div class="inner-service" id="wordpress-service">
                        <div class="img-container">
                            <img src="/images/app5.gif" alt="">
                        </div>
    
                        <div class="head-container">
                            <h1>Content Marketing</h1>
                        </div>
                        
    
                        <div class="content-container">
                            <p text-align="justify">
                                Creating your brand specific content and providing your customer base solution specific written content is the very important of digital branding. But, the only challenge with creating content is creating brand specific content plan with rich keywords. And our team makes sure to create content brand specific and increase engagement chances with written content.



                            </p>
                        </div>
                        
                    </div>
                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>how we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Create keywords rich content plan</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Researching the keywords and create rich content plan is the most hard thing as the there are lakhs of keywords. And the content creation competition is neck-to-neck, as for every keyword there are already thousands of published blogs.
                                </div>
                                <div class="para-white">So, our team use advance softwares to create productive and brand specific content plan with rich keywords.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Research the niche specific content platforms
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tie up with niche specific content and collaborate with them to create brand's reputation building
                
                                </div>
                                <div class="para-white">content via guest blogs, review blogs, press release and interviews.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Publish the content
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Schedule and publish the content from time to time on the niche specific content platforms to create hype around the products or services provided by the brands.
                
                                </div>
                                <div class="para-white">This helps brands to create more backlinks and interlinks helping their ranks on searches.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Market the content</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Share and post the content on different paid and unpaid mediums to attract traffic to the rich keywords and brand supportive content. 
                
                                </div>
                                <div class="para-white">The consistent sharing of keywords rich content help brands to increase the exposure of their products or services to more potential clients.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>