<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">

    <title>PRYMUS</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>






    <!-- contact heading -->

    <div class="form-contact">

        <div class="form-contact-heading">
            <h1>tell us about your project</h1>
        </div>
        <div class="contact-form">
            <form action="mailto:i.bhupendr@gmail.com" method="POST" enctype="multipart/form-data">

                

                <div class="row">
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Name">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Email">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Whatsapp No">
                        </div> 
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Company">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Company Website">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Position">
                        </div> 
                    </div>
                </div>

                

                <div class="row">
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="City">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="State">
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-10 pt-5 pb-2 offset-md-1">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control ContactInput" placeholder="Country">
                        </div> 
                    </div>
                </div>
                
                <div class="general-info-2 general-details">
                    <input type="text" name="company_name" class="company_name" placeholder="Your Company Name">
                    <input type="text" name="website" class="website" placeholder="Company Website">
                    <input type="text" name="position" class="position" placeholder="Position">
                </div>    
                <div class="general-info-3 general-details">
                    <input type="text" name="city" class="city" placeholder="City">
                    <input type="text" name="state" class="state" placeholder="State">
                    <input type="text" name="country" class="country" placeholder="Country">
                </div>
                <div class="general-info-4 general-details">
                    <!-- <input type="range" min="1" max="100" value="50" class="slider" id="myRange" placeholder="Budget"> -->
                <textarea name="requirement" class="requirement" cols="30" rows="10" placeholder="Requirement"></textarea>
                </div>
                <div class="general-submit">
                    <input type="submit" name="submit" value="Submit" class="general-submit-btn">
                </div>
                
            </form>
        </div>
        
    </div>

    <!-- container-2 -->

    <div class="design-campaign">
        <div>
            <h1>OR</h1>
        </div>
        <div>

            <a href="/myaccount"><h1>you can design your own campaign here 👍</h1></a>
        </div>
        
        
    </div>
    
    <!-- footer -->


    <%- include('footer.ejs') %>

    
    <!-- <script src="/js/index.js"></script>   -->
    <script src="/js/chat.js"></script>  

    <script src="/js/header_updated_s.js"></script>
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>