<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Creative Photoshoot services</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Indoor Photoshoot Services</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            The different product needs different kinds of the shoot. So, we make sure to provide within budget indoor creative photoshoots of products. As lights, angles, and mood can be easily managed, a creative photoshoot for the product is a must to be considered. preferring to shop online. As such photographs are very successful in giving products high leverage with their social media audience.                   </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Outdoor Photoshoot Services</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            A lot of products come alive in real-life situations. For such products, our team ensures to create amazing themes and places to bring out alluring moods to sell out such products just via amazing pictures. But, As outdoor photoshoots can be challenging and hard to manage, you will require a team like ours to execute the best outdoor photoshoots for your brands.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Website Theme Photoshoot</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Nowadays, instead of buying pictures, companies are hiring expert photographers to conduct amazing photoshoots of their office, team members, products, and service cycles to represent themselves transparently to their visitors. Such websites are trusted more as the people are real and nothing is hidden from the visitors.         </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Ad Campaign Photoshoots</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            These days performance of print or digital Ad campaigns highly depends on the creative looks. Brands are taking it very seriously to pre-plan the look of the Ad campaigns and forecasting the CTR and ROI of their Ad campaign creatives. To execute such an exhaustive process one needs a team of experts to get their ideas implemented on the first try.        </p>
                    </div>
                   
                </div>
            </div>

        </div>


<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the Agenda for the Photoshoot</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">What's the story you want to tell ? As, based on the agenda of your story, different concepts for creative photoshoots can be created.                     </div>
                                <div class="para-white">Different concepts decides the work flow and material required.As everything afterwards will be done to execute the concept within the time frame and lines of the concept.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Assemble the resources and budget
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Cost of photoshoot production of any project can vary as per the inventory and human source required to execute such products.
                                    
                
                                </div>
                                <div class="para-white">Our team makes sure to share the costing befor hand with the client and stick to the allotted budget. Models, camera lenses, photographer's time, rented places, studio cost, editting cost of the pictures and other stationary requirements are billed and shared with the clients.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span>Execute the Creative Photoshoot as Planned
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> Getting everything done within the time frame is very important to not leave any room for the error.
                
                                </div>
                                <div class="para-white">We ensure that 10 times of the required amount of pictures are taken and developed to ensure the quality and quantity to high quality picture for our clients.     
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span>Edit and Implement the Feedback</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We understand the concers and pressure on our clients to get everything perfect and impress their clients.    
                                </div>
                                <div class="para-white">So, we seriously appreciate our clients opening up with their ideas during shoots and contributing in creating exhaustively amazing concept around the products and services. 
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>