<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Digital Brand Designing</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Logo Designs</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            A logo is the identity of any brand, which reputation is established overtime via offline and online mediums to create brand awareness around the brand and the product or services sold under its impression. But, what is difficult to achieve is to capture the value of a company just via a logo. Our team ensures to best put the color, style, font, and symbols together to create the best logo for the brands of our clients'.          </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Brochure Designs</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Brochures or pamphlets are very effective and informative mediums to inform the potential customer's regarding the offers, or step-wise guide for the products, or catalog of products and services, and increase the sales. Our team understands the importance of brochures and create intricately designed them with clarity and beauty. So, the content is easily readable and not cluttered.      
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Digital Media Designs</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Digital creatives are very crucial for the daily posting on the social media Accounts. or to run Ad campaigns, or to educate the customers with informative content. We ensure that our clients have high-quality and eye-catchy designs to run across digital platforms. The digital creatives create a huge part of developing a brand on social media platforms.    
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Print Media Designs</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Print media is very ancient yet a very effective method to generate sales and run brand awareness campaigns. We understand the requirement of quirky and effective print media content for magazines, newspapers, Ad pamphlets, and a variety of posters Ads for marketing. So, our team of creative ensures to fulfill all the set paradigms of effective print media.      </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Mobile App Design</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            The interactive interface is the most critical requirement of any mobile App. As the seamless navigation throughout an App makes it very efficient for the end-user to utilize the App and engage with it. UI/UX consists designing all the screens of a mobile App and pre-deciding the navigational flow of the app as per the functionalities available.                  </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Website Look Design</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Websites are digital spokespersons for companies. As a result, companies are getting every element of their website specifically designed to create beautiful and interactive space for their customers to interact with, and maximize their CTRs and CTAs on the landing pages of their website. Eventually helping them to generate huge amounts of sales. 
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Motion Design</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Motion design is the new and famous interactive creative media that brands are using all over the world to generate a sale and increase brand awareness. As the media involves motion they are highly attention-grabbing, giving brands an effective alternative to choose from instead of highly-priced Ads media. Our creative team ensures to execute fun and engaging motion designs for our clients.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Illustration Design</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            2-D and 3-D illustration creatives have completely altered the world of graphics. As the richness of colors and the scope of executing all sorts of creative ideas are huge. The only thing required is to select a highly efficient and creative team of illustration graphic designers that can create the concepts and deliver them with the budget and given time frame. Our team of creative illustration experts can help you out to achieve that. 
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the creative agendas</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">There are endless possibilities with creatives. Logos, brochures, mobile Apps, websites, Ad and social media posts, all can be created in thousands of different variations.
                                </div>
                                <div class="para-white">The only challenge is to get the objective of the created creative right and execute them within the given time period. Our team ensures to create 2-3 varities of the given agenda as per our clients' requirement to deliver the best.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the segmentation of customers
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers is very necessary as that outlines for us, the 
                                    Traffic load from particular demographics and potential timing 
                                    
                
                                </div>
                                <div class="para-white">when such traffic loads can reach the rooftops.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Upload the websites
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Get the website live and cross-check all the functionalities. We ensure end to end functionalities performance on all the pages of the website. E-commerce websites need a seamless backend to continuously add and delete the products.
                
                                </div>
                                <div class="para-white">We ensure the website developed is for the long run and can pass the requirements of the future as well.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance of the building product is very necessary as that ensures safety,
                
                                </div>
                                <div class="para-white">interactive UI/UX, easy to use functionalities and smooth payment gateways.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>