<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/email-marketing.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Email Marketing</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>EMAIL MARKETING</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/personalised-email.png" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Personalized E-mails</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Do not waste your age-old e-mail lists of your clients. Let us help you in segmenting your client as per their interests or purchases. And send your clients detailed e-mails with prospective offers and products. Personalized e-mails are very effective and can help you to build trust-based relationships with your clients.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/new-interaction-email.png" alt="">
                    </div>

                    <div class="head-container">
                    <h1>New Interaction E-mails</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Buy new potential customer base data of your prospective clients from us and target them with highly effective B-2-B or B-2-C e-mail marketing strategies. New Interaction E-mails are very professional and can filter highly prospective clients for your niche. Our team has assisted many brands in finding the right match for their products and services via e-mail marketing.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            <div class="services-container">
                <div class="all-services" id="services-1">
                    <div class="inner-service" id="coded-service">
                        <div class="img-container">
                            <img src="/images/subscription-email.png" alt="">
                        </div>
                        <div class="head-container">
                            <h1>Subscription E-mails</h1>
                        </div>
    
                        
                        <div class="content-container">
                            <p text-align="justify">
                                Divert your E-mail traffic on your websites and generate revenue! Customers who have already shown in receiving e-mail notifications from your brand must be honored. Our highly experienced e-mail marketers team has run many successful subscription campaigns with catchy subject lines and interesting e-mail contents. So, don’t lose your chance to edge your brand name and coming up with offers in your client’s memory.
                            </p>
                        </div>
                        
                    </div>
                    <div class="inner-service" id="wordpress-service">
                        <div class="img-container">
                            <img src="/images/webinar-email.png" alt="">
                        </div>
    
                        <div class="head-container">
                            <h1>Webinar or Offer E-mails</h1>
                        </div>
                        
    
                        <div class="content-container">
                            <p text-align="justify">
                                You want to run webinars or special consultancy offers? Our team can help you run lead generation paid Ad campaign or unpaid event campaigns on other platforms and collect e-mails of the interested customer base. And outreach webinars or special consultancy offers to the collected e-mail base.


                            </p>
                        </div>
                        
                    </div>
                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

        <!-- <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="server-service">
                    <div class="img-container">
                        <img src="/images/app4.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>E-commerce Apps</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            E-commerce websites based on woo-commerce, Magento, Shopify, and other platforms can be converted into smart apps for all kinds of platforms as android, iOS platforms, Linux, Mac, Windows, and Google Fuchsia. E-commerce Apps provides Easy onboarding, Native App, Unlimited Product categories, Seamless Product Navigation, Multiple Secure Payment Options, and many other exclusive features for your e-commerce mobile shops.
                        </p>
                    
                    </div>

                </div>
                </div>

            -->

                </div> 
                
                </div> 
            
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>how we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Client Base Segmentation</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We segment the e-mail database as per the time-zone, age, gender, past purchase, buying behavior, interests, and other impacting aspects. Depending on these parameters we create different lists to precisely analyze our email campaign ROI.
                                </div>
                                <div class="para-white">Marketing Goal - We align our e-mail marketing strategy with the given marketing goals. As every marketing step has an agenda. And with e-mail Marketing, one can achieve more than just brand awareness. So, Our team makes sure to note all the marketing goals that our clients want to or can achieve with e-mail marketing.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Create Attractive E-mails</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> From subject lines to images, to buttons, to e-mail body content and to sign off signature one has ample opportunity to bind the reader and encourage them to take appropriate actions as installing mobile apps, reading a blog, or making a purchase.
                
                                </div>
                                <div class="para-white">We ensure to create highly engaging e-mails to provide the reader with a highly inclusive experience.



                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Schedule E-mails</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Trends, festivals, moods, and offers are required to be scheduled and aligned if one wants to be highly effective with their e-mail marketing strategies.
                
                                </div>
                                <div class="para-white">Our team ensures to communicate the schedule of e-mails outgoing with our clients. And create an e-mail in such a fashion that they are never boring or out of date.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the E-mail Performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We align our e-mails with google analytics to extract.
                
                                </div>
                                <div class="para-white">The ABC impact of our e-mail marketing strategies. The received report is monthly communicated with our clients to better the email marketing strategies and selected client database.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <!-- <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Launch the beta version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Launching the beta version is a very smart choice as only the real users of Apps can optimize the functionalities provided in any App.
                
                                </div>
                                <div class="para-white">The users are also communicated to extensively use the beta-version and provide their feedbacks  We make sure to assist and learn from the user’s feedback to create the best App for the final launch.
                
                                </div>
                            </div>
                        </div>

                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">6. <span style="margin-left: 8rem;"></span> Launch the Final Version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As a result of our communicative and strategized process, we deliver the best Apps.
                
                                </div>
                                <div class="para-white">Our Mobile App Developing team ensures to execute all the given requirements with the best possible solutions.
                 
                                </div>
                            </div>
                        </div> -->

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>


<div class="two-column-container" id="our-services">
    <div class="heading-container">
        <h1>HOW ARE WE DIFFERENT</h1>
    </div>
    <div class="two-column-container_container">
        <div class="data-containers" id="services-container-1">
            <div class="all-data" id="digital-marketing-services">
                <div class="img-container">
                    <img src="/images/Digital-Marketing-Services.png" alt="Digital Marketing Services">
                </div>
                
                <div class="heading-container">
                    <h1>Free Graphic Designs of Ads</h1>
                </div>

                <div class="underline-container">
                    <div class="underline">

                    </div>
                </div>

                <div class="content-container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam
                        erat volutpat.
                    </p>
                </div>

                

            </div>



            <div class="all-data" id="graphic-designing">

                <div class="img-container">
                    <img src="/images/Graphic-Designing.png" alt="Graphic Designing">
                </div>
                
                <div class="heading-container">
                    <h1>Engagement(Comments, Likes & Share)</h1>
                </div>

                <div class="underline-container">
                    <div class="underline">

                    </div>
                </div>

                <div class="content-container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam
                        erat volutpat.
                    </p>
                </div>

                

            </div>
        </div>
            
        <div class="data-containers" id="services-container-2">

            <div class="all-data" id="application-development">

                    <div class="img-container">
                        <img src="/images/Application-Development.png" alt="Application Development">
                    </div>
                    
                    <div class="heading-container">
                        <h1>Better Strategic Ads</h1>
                    </div>

                    <div class="underline-container">
                        <div class="underline">

                        </div>
                    </div>

                    <div class="content-container">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam
                            erat volutpat.
                        </p>
                    </div>

                   

            </div>
            <div class="all-data" id="product-shoot">

                <div class="img-container">
                    <img src="/images/Product-Shoot.png" alt="Graphic Designing">
                </div>
                
                <div class="heading-container">
                    <h1>Choose Different Ad Campaigns</h1>
                </div>

                <div class="underline-container">
                    <div class="underline">

                    </div>
                </div>

                <div class="content-container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam
                        erat volutpat.
                    </p>
                </div>

                
            </div>

        </div>
        <div class="data-containers" id="services-container-3">


            <div class="all-data" id="audio-video-editing">

                <div class="img-container">
                    <img src="/images/Audio-Video-Editing.png" alt="Audio Video Editing">
                </div>
                
                <div class="heading-container">
                    <h1>Personal Ad Manager</h1>
                </div>

                <div class="underline-container">
                    <div class="underline">

                    </div>
                </div>

                <div class="content-container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam
                        erat volutpat.
                    </p>
                </div>

                
                

        </div>
        <div class="all-data" id="web-designing-services">

            <div class="img-container">
                <img src="/images/Web-Designing-Services.png" alt="Web Designing Services">
            </div>
            
            <div class="heading-container">
                <h1>Organic Traffic</h1>
            </div>

            <div class="underline-container">
                <div class="underline">

                </div>
            </div>

            <div class="content-container">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam
                    erat volutpat.
                </p>
            </div>

            
        </div>

        </div>
    </div>
</div>



<!-- Our Expert Opinion -->

<div class="our-opinion">
<div class="heading-container">
    <h1>OUR EXPERT OPINION</h1>
</div>
<div class="data-container">
    <div class="class-opinion" id="class-opinion-1">
        <div class="img-container">
            <img src="/images/Blog1.png" alt="">
        </div>
        <div class="content-container">
            <p>How to design best banners?</p>
        </div>

        <div class="btn-read-more" id="read-more">
            <img src="/images/Read-More.png" alt="Read More" width="180px">
        </div>

    </div>
    <div class="class-opinion" id="class-opinion-2">

        <div class="img-container">
            <img src="/images/Blog2.png" alt="">
        </div>
        <div class="content-container">
            <p>Ways to make your Instagram Post
                100% Engaging !</p>
        </div>

        <div class="btn-read-more" id="read-more">
            <img src="/images/Read-More.png" alt="Read More" width="180px">
        </div>


    </div>
    <div class="class-opinion" id="class-opinion-3">

        <div class="img-container">
            <img src="/images/Blog3.png" alt="">
        </div>
        <div class="content-container">
            <p>How to generate Leads on Social Media?</p>
        </div>

        <div class="btn-read-more" id="read-more">
            <img src="/images/Read-More.png" alt="Read More" width="180px">
        </div>

    </div>
</div>
</div>


<!-- Join our News Letter -->


<!-- <div class="join-newsletter">
<div class="heading-container"><h1>JOIN OUR NEWS LETTER</h1></div>
<div class="search-container">
    <form action="" method="POST">
        <input type="text" name="newsletter">
        <input type="submit" name="submit" value="SUBSCRIBE">
    </form>
    

</div>
</div> -->


<!-- HOW TO CUSTOMIZE DIGITAL PLAN -->

<!-- <div class="customize-plan">
<div class="heading-container">
    <h1>HOW TO CUSTOMIZE YOUR DIGITAL PLAN?</h1>
</div>
<div class="steps-container">
    <div class="steps" id="step-1">
        <img src="/images/Step1.png" alt="">
    </div>
    <div class="steps" id="step-2">
        <img src="/images/Step2.png" alt="">
    </div>
    <div class="steps" id="step-3">
        <img src="/images/Step3.png" alt="">
    </div>
</div>
</div> -->

<!-- GET FREE WEBSITE HEALTH REPORT -->

<div class="website-health">
<div class="heading-container">
    <h1>GET FREE WEBSITE HEALTH REPORT</h1>
</div>

<div class="form-container">
    <form action="mailto:info@prymus.co.in" method="POST">
        <div class="line">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="number" name="mobile" placeholder="Mobile Number">
        </div>
        <div class="line">
            <input type="email" name="email" placeholder="Email Id">
            <input type="text" name="website" placeholder="Website Link">
        </div>
        <div>
            <button></button>
        </div>

    </form>
</div>
</div>


<!-- Carousel Starts-->

<h1 style="text-align: center; font-size: 6rem; color: rgb(255, 66, 66); margin-bottom: 10rem;" id="h-plan">HOW TO CUSTOMIZE YOUR DIGITAL PLAN?</h1>

<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->



<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/Step1.png" alt="Los Angeles" width="500" height="200">
  </div>
  <div class="carousel-item">
    <img src="/images/Step2.png" alt="Chicago" width="500" height="200">
  </div>
  <div class="carousel-item">
    <img src="/images/Step3.png" alt="New York" width="500" height="200">
  </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>





<!-- Carousel Ends -->





<!-- -------footer----------- -->

<%- include('footer.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>