<div class="footer">
    <div class="data-container">
        <div class="contact">
            <h1>Contact Us</h1>
            <p>Address: 206-207, Pooja Complex,</p>
            <p>Veer Savarkar Block,</p>
            <p>Shakarpur, Delhi-110092</p>
        </div>
        <div class="useful">
            <h1>Useful Links</h1>
            <p><a href="/">Home</a></p>
            <p><a href="/our-services">Services</a></p>
            <p><a href="/contact">Contact Us</a></p>
        </div>
        <div class="policy">
            <h1>Our Policy</h1>
            <p>Site Map</p>
            <p><a href="/privacy-policy">Privacy Policy</a></p>
            <p><a href="/terms-and-conditions">Terms And Conditions</a></p>
        </div>
        <div class="follow">
            <!-- <img src="" alt="">
            <img src="" alt="">
            <img src="" alt=""> -->
            <h1>Follow Us</h1>
                <div class="images">
                    <a href="https://www.facebook.com/prymusbrandcom/"><img src="/images/Facebook.png" alt=""> </a> 
                    <a href="https://www.linkedin.com/company/70117068/admin/ linkedin"><img src="/images/Linkedin.png" alt="Linkedin"></a>  
                    <a href="https://www.instagram.com/prymusindia_/"><img src="/images/Instagram.png" alt=""> </a> 
                     
                    <a href="https://twitter.com/home"><img src="/images/Twitter.png" alt=""></a>    
                </div>
                
        </div>
    </div>
    <div class="all-rights">
        <h1>© Copyright 2020 Prymus Brandcom - All Rights Reserved</h1>
        
    </div>
</div>

<!-- <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=k31knlzxaQGVTz29CrF901cyYxipFZBUkonni5LK02QDbyyHvcvxcLu3e1D3"></script></span> -->