<div class="footer-container">
    <div class="data-container">
        <ul>
            <li>Email: info@prymus.co.in</li>
            <li>Copyright 2020 © All rights reserved.</li>
            <li>Design By Prymus Brandcom India Pvt. Ltd.</li>
        </ul>
    </div>
    <div class="icons-container">

    </div>
    <div class="policy-container">
        <ul>
            <!-- <li>Sitemap</li> -->
            <li>Terms and Conditions</li>
            <li>&nbsp;&nbsp;</li>
            <li> </li>
            <li><a href="/privacy-policy" style="text-decoration: none; color: #fff;">Privacy Policy</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/contact" style="text-decoration: none; color: #fff;">Contact Us</a></li>
            <li>&nbsp;&nbsp;</li>
            <li> </li>
            
        </ul>

        <!-- <ul class="big-screen" id="big-screen">
            
            <li><a href="/manager-terms-and-conditions" style="text-decoration: none; color: #fff;">Terms and Conditions Manager</a></li>
            <li>&nbsp;|&nbsp;</li>
            <li><a href="/retailer-terms-and-conditions" style="text-decoration: none; color: #fff;">Terms and Conditions Retailer</a></li>
            <li>&nbsp;&nbsp;</li>
            <li> </li>
            
        </ul> -->


        <ul class="mob-screen" id="mob-screen">
            
            <li><a href="/manager-terms-and-conditions" style="text-decoration: none; color: #fff;">Terms Manager</a></li>
            <li>&nbsp;|&nbsp;</li>
            <li><a href="/retailer-terms-and-conditions" style="text-decoration: none; color: #fff;">Terms Retailer</a></li>
            <li>&nbsp;&nbsp;</li>
            <li> </li>
            
        </ul>


    </div>
</div>