<div class="footer-container">
    <div class="data-container">
        <ul>
            <li>Email: info@prymus.co.in</li>
            <li>Copyright 2020 © All rights reserved.</li>
            <li>Design By Prymus Brandcom India Pvt. Ltd.</li>
        </ul>
    </div>
    <div class="icons-container">

    </div>
    <div class="policy-container">
        <ul>
            <li>Sitemap</li>
            <li>|</li>
            <li>Privacy Policy</li>
            <li>|</li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>