<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/animated/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/animated/css/style.css"> <!-- Resource style -->
	<script src="/animated/js/modernizr.js"></script>

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>




    <div class="container-fluid word-change">
        <section class="cd-intro">
            <h1 class="cd-headline rotate-1">
                <span id="part-one">Reach The World With</span>
                <span class="cd-words-wrapper">
                    <b class="is-visible" style="color: red">Google Ads</b>
                    <b style="color: blue">Facebook Ads</b>
                    <b style="color: orangered">Youtube Ads</b>
                    <b style="color: green">Instagram Ads</b>
                    <b style="color: orchid">Linkedin Ads</b>
                </span>
            </h1>
        </section>
    </div>


    <!-- Animation Starts Here -->
        <!-- <div class="container container-fluid text-center anime" style="margin-top: 20rem;">
            <div><h1 class="display-1">Reach The World With</h1></div>
            
            <h1 class="display-1 anm"> 
            <span class="word">
                <span>Google Ads</span>
                <span>Linkedin Ads</span>
                <span>Youtube Ads</span>
                <span>Facebook Ads</span>
                <span>Instagram Ads</span> 
            </span>
        </h1> -->
        <!-- <div>
            <h1 class="display-1">Ads!</h1>
        </div> -->
        <!-- </div> -->
    <!-- Animation ends here -->

<!-- container-one -->
        <div class="container-one" id="tag-line-data">
            <!-- <div class="tag-line">
                <div><h1>Reach The World</h1></div>
                <div><h1>With <span></span> Ads!</h1></div>
            </div> -->


            <div class="data-main">
                <div class="data-main-data" id="data-main-1">
                    <div class="img-container">
                        <img src="/images/1.gif" alt="">
                    </div>
                    <div class="content">
                        <p>Ram nurtured his plant products with love but failed
                            to grow his business.</p>
                    </div>
                    <div class="btn-container">
                        <a href="/myaccount">Select Your Digital Plan</a>
                    </div>
                </div>
            

        
                <div class="data-main-data" id="data-main-2">
                    <div class="img-container" id="img-2">
                        <img src="/images/2.png" alt="" width="250  ">
                    </div>
                    <div class="content">
                        <p>With the help of Prymus Brandcom Ram Advertised
                            his Garden all over India.</p>
                    </div>
                    <div class="btn-container">
                        <a href="/myaccount">Join Our Manager Program</a>
                    </div>
                </div>
    

            
                <div class="data-main-data" id="data-main-3">
                    <div class="img-container">
                        <img src="/images/3.gif" alt="">
                    </div>
                    <div class="content">
                        <p>Soon, From all over India he started receiving
                            Thousands of orders.</p>
                    </div>
                    <div class="btn-container">
                        <a href="#website-health">Website Health Checkup</a>
                    </div>
                </div>
            </div>
        </div>



        <!-- conatiner one nav -->

        <div class="container-one-mob">
                <div id="demo1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                    <li data-target="#demo1" data-slide-to="0" class="active"></li>
                    <li data-target="#demo1" data-slide-to="1"></li>
                    <li data-target="#demo1" data-slide-to="2"></li>
                    </ul>
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/1.gif" alt="Los Angeles" width="352">
                        <h1>Ram nurtured his plant products with love but failed
                            to grow his business beyond his locality</h1>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/2.gif" alt="Chicago" width="352">
                        <h1>With the help of Prymus Ram Advertised
                            Jeevan Garden all over India.</h1>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/3.gif" alt="New York" width="352">
                        <h1>Soon, From all over India he started receiving
                            Thousands of orders for his premium plants.</h1>
                    </div>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
        
        
        
        
        
            <!-- Carousel Ends -->
        
        </div>

        <!-- 3 Buttons Start -->

        <div class="container-fluid text-center mt-5 pt-5 btns-mob">
            <div class="col-md-8 offset-md-2 text-center mt-5 pt-5 p-4">
                <a class="btn btn-primary btn-block topBtn" href="/myaccount">Select Digital Plan</a>
            </div>

            <div class="col-md-8 offset-md-2 text-center pt-5 p-3">
                <a class="btn btn-primary btn-block topBtn" href="/myaccount">Join Manager Program</a>
            </div>

            <div class="col-md-8 offset-md-2 text-center pt-5 p-3">
                <a class="btn btn-primary btn-block topBtn" href="#website-health">Website Health Checkup</a>
            </div>
        </div>
            
            

        <!-- mission vision -->

        <!-- <div class="mission-vision container-fluid">
            <div class="card">
            <div class="img-container">
                <img class="card-img-top" src="/images/Our-Mission-&-Vision.png" alt="our mission and vision">
            </div>
            <h1 class="heading-container headFont">OUR MISSION & VISION</h1>
            <div class="content-container">
                <p>We Assist, “Every Humble Business Owner to Go Global with Affordable Advertising”.</p>
                
                <p style="color: black;">
                    We believe that every, “Made In India Product” deserves to go global. With our expertise and creative abilities, we assist millions of dreamers around India to grow their brands on every social media platform. We understand that changing algorithms and trends can be hard to follow and can impact our client’s brands. So, as a digital media partner of our clients, we provide them the freedom to grow locally and globally by completely taking up digital brand-building responsibilities.
                    <br><br>We are also very enthusiastic and spirited for being the humble backbone of the Indian economy. We have provided thousands of people a chance to affiliate with Prymus Brandcom and be our extended hand as “Prymus Managers. Our Prymus Managers have helped out millions of businesses to grow globally. With the simplicity of our Manger Program and continuous encouragement received for our, “Prymus Manager Program”, today we enjoy an extended family of Prymus Managers, build with people coming from every corner of India. We know that trust is the foundation of every well-established networking business model. And at Prymus Brandcom we make sure to assist our Prymus Mangers at every step with all the possible resources to achieve their goal of supporting humble business owners to launch their digital brands.
                    <br><br>We have a firm faith that we all can create better and flourishing ecosystems for our humble business owners if with all honesty and determination we will extend our hands to help out every humble entrepreneur to go digital and go global with affordable advertising.<br>
                </p>
            </div>

        </div>
        </div> -->

        <div class="container-fluid text-center mission p-5 ">
            <div class="container-fluid ourServices">
                <div>
                <h1 class="display-1 text-center headFont mb-5">OUR MISSION & VISION</h1>
                </div>  
                
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-12">
                        <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                            <img class="card-img-top mb-5 align-self-center mb-3 pl-4 pr-4" id="mission-vision-image" src="/images/Our-Mission-&-Vision.png" width="328">
                        
                            <div class="card-body">
                                <h1 class="card-title mb-4 subHeadFont">We Assist, “Every Humble Business Owner to Go Global with Affordable Advertising</h1>
                                <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We believe that every, “Made In India Product” deserves to go global. With our expertise and creative abilities, we assist millions of dreamers around India to grow their brands on every social media platform. We understand that changing algorithms and trends can be hard to follow and can impact our client’s brands. So, as a digital media partner of our clients, we provide them the freedom to grow locally and globally by completely taking up digital brand-building responsibilities.
                                    <br><br>We are also very enthusiastic and spirited for being the humble backbone of the Indian economy. We have provided thousands of people a chance to affiliate with Prymus Brandcom and be our extended hand as “Prymus Managers. Our Prymus Managers have helped out millions of businesses to grow globally. With the simplicity of our Manger Program and continuous encouragement received for our, “Prymus Manager Program”, today we enjoy an extended family of Prymus Managers, build with people coming from every corner of India. We know that trust is the foundation of every well-established networking business model. And at Prymus Brandcom we make sure to assist our Prymus Mangers at every step with all the possible resources to achieve their goal of supporting humble business owners to launch their digital brands.
                                    <br><br>We have a firm faith that we all can create better and flourishing ecosystems for our humble business owners if with all honesty and determination we will extend our hands to help out every humble entrepreneur to go digital and go global with affordable advertising.<br><p></p>
                                
                            </div>
                        </div>
                    </div> 
                </div>
            </div>           
                        
    
                    
        </div>

        <!-- Our Services -->



        <div class="container-fluid ourServices pt-5 mt-5 mb-5">
            <div>
            <h1 class="display-1 text-center headFont">OUR SERVICES</h1>
            </div>  
            
            <div class="row">
                <div class="col-lg-4 offset-lg-1 col-md-12">
                    <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                        <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Digital marketing Gif 656 x 500 Gif.gif" width="328">
                    
                        <div class="card-body">
                            <h1 class="card-title mb-4 subHeadFont">Digital Marketing</h1>
                            <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">We, humans have digitalized every operation yet brands find it difficult to create a digital presence on online mediums. Our digital marketing ensures to extend our full support to budding or established businesses to grow their maximum capabilities on all the digital mediums.</p>
                            <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#digital-marketing">Read More</a>
                        </div>
                    </div>

                    

                </div>

                <div class="col-lg-4 offset-lg-2 col-md-12">
                    <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                        <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Graphic-Designing 656 x 500 Gif.gif" width="328">
                    
                        <div class="card-body">
                            <h1 class="card-title mb-4 subHeadFont">Graphic Designing</h1>
                            <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Developing creatives associated with your online and offline mediums is very important to stand out from the rat race of products. Our creative team has created and rejuvenated the creative identities of many brands.</p>
                            <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#graphic-design">Read More</a>
                        </div>
                    </div>

                    

                </div>

            </div>





        </div>


        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Website-Designing 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont">Web Designing</h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Websites are never going to die. As they have been getting more and more interactive and live with times. Our frontend developers can give your websites completely seamless and easy on eyes look with interactive functionalities whereas our backend developer ensures the sturdiness of the website to tackle high number of traffic.</p>
                        <a class="btn btn-primary mb-2 servicesBtn service" href="/our-services#website-development">Read More</a>
                    </div>
                </div>

                

            </div>

            <div class="col-lg-4 offset-lg-2 col-md-12">
                <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                    <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Application Development 656 x 500 Gif.gif" width="328">
                
                    <div class="card-body">
                        <h1 class="card-title mb-4 subHeadFont">Application Development</h1>
                        <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Mobile App is the very famous digital platforms among B-2-B and B-2-C business models. We have built many apps to assist our clients in conducting seamless interaction with their customers and grow their businesses.</p>
                        <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#mobile-app">Read More</a>
                    </div>
                </div>

                

            </div>

        </div>





    </div>


    <div class="row">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Product Shoot 656 x 500  Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont">Product Shoot</h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">In today's time, photoshoots are extensively getting creative, challenging, and attractive. So, to beat this neck-to-neck competition and embark one’s image in the customer’s memory one requires the assistance of a very creative and experienced team such as ours.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#photoshoot">Read More</a>
                </div>
            </div>

            

        </div>

        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center pl-2 pr-2 one-card" style="min-height: 80vh;">
                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Audio Video Editing 656 x 500 Gif.gif" width="328">
            
                <div class="card-body">
                    <h1 class="card-title mb-4 subHeadFont">Audio Video Editing</h1>
                    <p class="card-text mb-5 mt-5 h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Audio and Video are the most-watched and heard content online and offline. Our sound and video creators have been creating numerous viral videos and audios for our client to help them out to spread their marketing message loud and clear.</p>
                    <a class="btn btn-primary mb-2 servicesBtn" href="/our-services#audio-video">Read More</a>
                </div>
            </div>

            

        </div>

    </div>





</div>


<!-- How we are different -->

<div class="container-fluid ourServices pt-5 mt-5 mb-5 mt-5"> 
    <div>
    <h1 class="text-center mb-5 mt-5 headFont"  style="color: rgb(255, 0, 0);">HOW WE ARE DIFFERENT</h1>
    </div>  

    <div class="row mt-5 mb-5 mt-5" style="min-height: 50vh;">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Free Graphic Designs of Ads Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Free Graphic Designs of Ads</h1>
                    <p class="card-text paraDiffer h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;" style="line-height: 3.5rem;">The secret sauce behind every successful advertisement campaign is its creative posts. Creative graphics and videos help brands to achieve their marketing and business goals by communicating their agendas in an entertaining and attractive manner to lure in the potential customer base. Great graphics help brands to generate a sale, leads, and revenue. Hence, our creative makes sure to provide the best graphic design for your Ads and achieve maximum ROI.
                    </p>
                </div>

            </div>
        </div>


        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Engagement(Comments, Likes & Share) Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Engagement(Comments, Likes & Share)
                    </h1>
                    <p class="card-text paraDiffer h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Non-engaging Ads can cost you heavily while producing very low results. As the algorithm of the internet shut down the non-engaging content to keep the social media users engaged on their platforms and not bounce off. Hence, it is very imperative to post engaging, moving, or non-moving creatives to get the potential customer base to engage with your creative Ads. Our team ensures online engagement on each and every social media post of our clients.
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="row mt-5 mb-5 mt-5" style="min-height: 50vh;">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Better Strategic Ads 656 x 500 Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Better Strategic Ads</h1>
                    <p class="card-text paraDiffer h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Implementing productive strategies is very essential to extract maximum ROI with digital advertisement. Our experts understand that every advertising campaign needs a different strategy to produce an effective results. So, we ensure to strategies better-performing ads for every brand as per their marketing and business goals.
                    </p>
                </div>

            </div>
        </div>


        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Choose Different Ad Campaigns Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Choose Different Ad Campaigns</h1>
                    <p class="card-text paraDiffer h2 text-justify pl-2 pr-2" style="line-height: 3.5rem;">Internet Marketing strategy is all about reaching the mass as soon as possible. And one can reach mass only if he chooses to advertise on a maximum number of platforms in a short time span. And to provide end-to-end Adverting solutions to such advertising needs we have created Prymus. We are the only platform where you can choose as many available platforms to run your paid ad campaign at once.
                    </p>
                </div>

            </div>
        </div>
    </div>




    <div class="row mt-5 mb-5 mt-5" style="min-height: 50vh;">
        <div class="col-lg-4 offset-lg-1 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Personal Ad Manager 656 x 500 Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Personal Ad Manager</h1>
                    <p class="card-text paraDiffer h2 text-justify mb-5 mt-5 pl-2 pr-2" style="line-height: 3.5rem;">We understand the frustration and hesitation that come into the picture following the virtual outsourcing of any process of an operation. Hence, we make sure to provide all our clients their very own personal Ad campaign manager to answer their queries over e-mail and phone. Our “Personal Ad Campaign Managers” are fluent with the technicalities and thoroughly understand the process of assisting brands to execute productive Ad campaign strategy.
                    </p>
                </div>

            </div>
        </div>


        <div class="col-lg-4 offset-lg-2 col-md-12">
            <div class="card text-center one-card" style="min-height: 50vh;">

                <img class="card-img-top align-self-center mb-3 pl-4 pr-4" src="/images/Organic Traffic Gif.gif" width="328">
                <div class="card-body">
                    <h1 class="card-title subHeadFont mb-4">Organic Traffic</h1>
                    <p class="card-text paraDiffer h2 text-justify mb-5 pl-2 pr-2" style="line-height: 3.5rem;">With the emerging market of social media bots, it is very difficult to distinguish between fake and real followers and engagement. But, with the fake engagement, one can only create the facade of being popular but cannot generate any revenue, to begin with. Hence, we make sure that Organic traffic is attracted to Ads or Social media profiles to generate leads and revenue.
                    </p>
                </div>

            </div>
        </div>
    </div>
    
    

</div>


<!--  -->


    <!-- Carousel Starts-->

    <h1 id="carousel-h1" class="headFont" style="text-align: center; color: rgb(255, 0, 0); margin-bottom: 10rem;">CUSTOMIZE YOUR DIGITAL PLAN?</h1>

    
    <!-- Carousel Starts-->
    <div class="container mob-container">
         
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="./images/Screen1.png" alt="Los Angeles" style="width:100%;">
            </div>
      
            <div class="item">
              <img src="./images/Screen2.png" alt="Chicago" style="width:100%;">
            </div>
          
            <div class="item">
              <img src="./images/Screen3.png" alt="New york" style="width:100%;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
      
      <div class="container large">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="./images/Your-Digital-Plan.png" alt="Los Angeles" style="width:100%;">
            </div>
      
            <div class="item">
              <img src="./images/Your-Digital-Plan.png" alt="Chicago" style="width:100%;">
            </div>
          
            <div class="item">
              <img src="./images/Your-Digital-Plan.png" alt="New york" style="width:100%;">
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!--Carousel Ends  -->
    <!-- Carousel Ends -->

    <!-- Website Health Report -->

    <div class="container-fluid webHealth text-centermt-1 pt-2 pl-2 pr-2 mb-5" id="website-health">
        <div class="heading-health text-center">
            <h1 class="display-1 headFont">GET FREE WEBSITE HEALTH REPORT</h1>
        </div>
        <form action="/website-health" method="post" class="m-5">
            <div class="row mt-5">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control whInput" placeholder="Enter Name" required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control whInput" placeholder="Enter Email" required>
                    </div>
                </div>    
            </div>



            <div class="row">
                <div class="col-lg-4 offset-lg-1 pt-5">
                    <div class="form-group">
                        <input type="text" name="mobile" class="form-control whInput" placeholder="Enter Mobile No." required>
                    </div>
                </div>    
            

                <div class="col-lg-4 offset-lg-2 pt-5">
                    <div class="form-group">
                        <input type="text" name="wlink" class="form-control whInput" placeholder="Enter Website Link" required>
                    </div>
                </div>    
            </div>

            <div class="row text-center mt-5">
                <div class="col text-center mt-5">
                    <input type="submit" class="btn btn-success whSubmit" name="submit" value="SUBMIT">
                </div>
            </div>
        </form>
    </div>



    

    <!-- -------footer----------- -->

    <%- include('footer.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>
<script src="/js/header_updated_n.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="/animated/js/jquery-2.1.1.js"></script>
    <script src="/animated/js/main.js"></script>

    <!-- <script>
        $('.carousel').carousel({
            interval: 2000,
            keyboard: true
        })
    </script> -->

    
</body>
</html>