<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">
    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/header_updated_n.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


<!-- container-one -->
        <div class="container-one" id="home">
            
            <div class="img-container">
                <img src="/images/Google.png" alt="" width="100%">
            </div>
            
        </div>

        <!-- buttons -->
        <div class="button-container">
            <div class="btn-top" id="btn-1">
            <a href="" class="btn-main">Select Your Digital Plan</a>
            </div>
            <div class="btn-top" id="btn-2">
            <a href="" class="btn-main">Join Our Manager Program</a>
            </div>
            <div class="btn-top" id="btn-3">
            <a href="" class="btn-main">Website Health Checkup</a>
            </div>
        </div>


        <!-- mission vision -->

        <div class="mission-vision">
            <div class="img-container">
                <img src="/images/Our-Mission-&-Vision.png" alt="our mission and vision">
            </div>
            <div class="heading-container"><h1>OUR MISSION & VISION</h1></div>
            <div class="content-container">
                <p>We are 100%</p>
                <ul>
                    <li>Innovative thinkers - it is in our DNA to come up with unique and innovative ideas.</li>
                    <li>Client-centric - we go above and beyond to provide our clients, perfect solutions.</li>
                    <li>Result-oriented - we aim to improve sales and foster their growth.</li>
                    <li>Responsive - we are there for you whenever you need us.</li>
                    <li>Taskmasters - we know our craft and so we deliver the best marketing solutions.</li>
                </ul>
            </div>
        </div>

        <!-- Our Services -->

        <div class="our-services">
            <div class="heading-container">
                <h1>OUR SERVICES</h1>
            </div>
            <div class="services-container">
                <div class="service-conatiners" id="services-container-1">
                    <div class="all-services" id="digital-marketing-services">
                        <div class="img-container">
                            <img src="/images/Digital-Marketing-Services.png" alt="Digital Marketing Services">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Digital Marketing Services</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam
                                erat volutpat.
                            </p>
                        </div>

                        <div class="btn-read-more" id="read-more">
                            <img src="/images/Read-More.png" alt="Read More" width="180px">
                        </div>

                    </div>



                    <div class="all-services" id="graphic-designing">

                        <div class="img-container">
                            <img src="/images/Graphic-Designing.png" alt="Graphic Designing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Graphic Designing</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam
                                erat volutpat.
                            </p>
                        </div>

                        <div class="btn-read-more" id="read-more">
                            <img src="/images/Read-More.png" alt="Read More" width="180px">
                        </div>

                    </div>
                </div>
                    
                <div class="service-conatiners" id="services-container-2">

                    <div class="all-services" id="application-development">

                            <div class="img-container">
                                <img src="/images/Application-Development.png" alt="Application Development">
                            </div>
                            
                            <div class="heading-container">
                                <h1>Application Development</h1>
                            </div>
    
                            <div class="underline-container">
                                <div class="underline">
    
                                </div>
                            </div>
    
                            <div class="content-container">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh euismod tincidunt
                                    ut laoreet dolore magna aliquam
                                    erat volutpat.
                                </p>
                            </div>
    
                            <div class="btn-read-more" id="read-more">
                                <img src="/images/Read-More.png" alt="Read More" width="180px">
                            </div>
    
                    </div>
                    <div class="all-services" id="product-shoot">

                        <div class="img-container">
                            <img src="/images/Product-Shoot.png" alt="Graphic Designing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Product Shoot</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam
                                erat volutpat.
                            </p>
                        </div>

                        <div class="btn-read-more" id="read-more">
                            <img src="/images/Read-More.png" alt="Read More" width="180px">
                        </div>
                    </div>

                </div>
                <div class="service-conatiners" id="services-container-3">


                    <div class="all-services" id="audio-video-editing">

                        <div class="img-container">
                            <img src="/images/Audio-Video-Editing.png" alt="Audio Video Editing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Audio Video Editing</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam
                                erat volutpat.
                            </p>
                        </div>

                        <div class="btn-read-more" id="read-more">
                            <img src="/images/Read-More.png" alt="Read More" width="180px">
                        </div>

                </div>
                <div class="all-services" id="web-designing-services">

                    <div class="img-container">
                        <img src="/images/Web-Designing-Services.png" alt="Web Designing Services">
                    </div>
                    
                    <div class="heading-container">
                        <h1>Web Designing Services</h1>
                    </div>

                    <div class="underline-container">
                        <div class="underline">

                        </div>
                    </div>

                    <div class="content-container">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam
                            erat volutpat.
                        </p>
                    </div>

                    <div class="btn-read-more" id="read-more">
                        <img src="/images/Read-More.png" alt="Read More" width="180px">
                    </div>
                </div>

                </div>
            </div>
        </div>


        <!-- How are we different -->


        <div class="our-services" id="how-different">
            <div class="heading-container" id="how-different-header">
                <h1>HOW WE ARE DIFFERENT</h1>
            </div>
            <div class="services-container">
                <div class="service-conatiners" id="services-container-1">
                    <div class="all-services" id="digital-marketing-services">
                        <div class="img-container">
                            <img src="/images/Free-Graphic-Design-of-Ads.png" alt="Digital Marketing Services">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Free Graphics Designs Of Ads</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                We provide the best Graphics
                                design for your Ads. So, your ads
                                can achieve maximum sales.
                            </p>
                        </div>
                    </div>



                    <div class="all-services" id="graphic-designing">

                        <div class="img-container">
                            <img src="/images/Engagement.png" alt="Graphic Designing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Engagement(Comment, likes & share)
                            </h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                We ensure online engagement on
                                all your ads and posts.
                            </p>
                        </div>
                    </div>
                </div>
                    
                <div class="service-conatiners digital-marketing" id="services-container-2">

                    <div class="all-services" id="application-development">

                            <div class="img-container">
                                <img src="/images/Better-Strategic-Ads.png" alt="Application Development">
                            </div>
                            
                            <div class="heading-container">
                                <h1>Better Strategic Ads</h1>
                            </div>
    
                            <div class="underline-container">
                                <div class="underline">
    
                                </div>
                            </div>
    
                            <div class="content-container">
                                <p>Our experts ensure better performing ads as per clients' requirements
                                                                        </p>
                            </div>
    
                    </div>
                    <div class="all-services" id="product-shoot">

                        <div class="img-container">
                            <img src="/images/Choose-Different-Ads-Campaigns.png" alt="Graphic Designing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Choose Different Ad Campaigns</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                We are the only platform where
                                you can choose as many as available platforms to run your paid ad
                                campaign at once.
                            </p>
                        </div>

                        
                    </div>

                </div>
                <div class="service-conatiners digital-marketing" id="services-container-3">


                    <div class="all-services" id="audio-video-editing">

                        <div class="img-container">
                            <img src="/images/Personal-Ad-Manager.png" alt="Audio Video Editing">
                        </div>
                        
                        <div class="heading-container">
                            <h1>Personal Ad Manager</h1>
                        </div>

                        <div class="underline-container">
                            <div class="underline">

                            </div>
                        </div>

                        <div class="content-container">
                            <p>
                                We will provide a personal Ad
                                Campaign Manager to answers all
                                your queries over email and
                                phone.
                            </p>
                        </div>

                      

                </div>
                <div class="all-services" id="web-designing-services">

                    <div class="img-container">
                        <img src="/images/Organic-Traffic.png" alt="Web Designing Services">
                    </div>
                    
                    <div class="heading-container">
                        <h1>Organic Traffic</h1>
                    </div>

                    <div class="underline-container">
                        <div class="underline">

                        </div>
                    </div>

                    <div class="content-container">
                        <p>
                            We focus on attracting quality organic traffic.
                        </p>
                    </div>
                </div>

                </div>
            </div>
        </div>




        <!-- Our Expert Opinion -->
    
    <div class="our-opinion">
        <div class="heading-container">
            <h1>OUR EXPERT OPINION</h1>
        </div>
        <div class="data-container">
            <div class="class-opinion" id="class-opinion-1">
                <div class="img-container">
                    <img src="/images/Blog1.png" alt="">
                </div>
                <div class="content-container">
                    <p>How to design best banners?</p>
                </div>

                <div class="btn-read-more" id="read-more">
                    <img src="/images/Read-More.png" alt="Read More" width="180px">
                </div>

            </div>
            <div class="class-opinion" id="class-opinion-2">

                <div class="img-container">
                    <img src="/images/Blog2.png" alt="">
                </div>
                <div class="content-container">
                    <p>Ways to make your Instagram Post
                        100% Engaging !</p>
                </div>

                <div class="btn-read-more" id="read-more">
                    <img src="/images/Read-More.png" alt="Read More" width="180px">
                </div>


            </div>
            <div class="class-opinion" id="class-opinion-3">

                <div class="img-container">
                    <img src="/images/Blog3.png" alt="">
                </div>
                <div class="content-container">
                    <p>How to generate Leads on Social Media?</p>
                </div>

                <div class="btn-read-more" id="read-more">
                    <img src="/images/Read-More.png" alt="Read More" width="180px">
                </div>

            </div>
        </div>
    </div>


    <!-- Join our News Letter -->


    <div class="join-newsletter">
        <div class="heading-container"><h1>JOIN OUR NEWS LETTER</h1></div>
        <div class="search-container">
            <form action="" method="POST">
                <input type="text" name="newsletter">
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>


    <!-- HOW TO CUSTOMIZE DIGITAL PLAN -->

    <div class="customize-plan">
        <div class="heading-container">
            <h1>HOW TO CUSTOMIZE YOUR DIGITAL PLAN?</h1>
        </div>
        <div class="steps-container">
            <div class="steps" id="step-1">
                <img src="/images/Step1.png" alt="">
            </div>
            <div class="steps" id="step-2">
                <img src="/images/Step2.png" alt="">
            </div>
            <div class="steps" id="step-3">
                <img src="/images/Step3.png" alt="">
            </div>
        </div>
    </div>

    <!-- GET FREE WEBSITE HEALTH REPORT -->

    <div class="website-health">
        <div class="heading-container">
            <h1>GET FREE WEBSITE HEALTH REPORT</h1>
        </div>

        <div class="form-container">
            <form action="#" method="POST">
                <div class="line">
                    <input type="text" name="name" placeholder="Enter Name">
                    <input type="number" name="mobile" placeholder="Mobile Number">
                </div>
                <div class="line">
                    <input type="email" name="email" placeholder="Email Id">
                    <input type="text" name="website" placeholder="Website Link">
                </div>
                <div>
                    <button></button>
                </div>

            </form>
        </div>
    </div>
    

    <!-- -------next----------- -->

    <!-- <%- include('footer.ejs') %>

    <% if (user) { %>
        <div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
        <script src="/socket.io/socket.io.js"></script>
    <% } %> -->

<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_n.js"></script>
    
</body>
</html>