<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/css/header_updated_s.css"> -->
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">

    <style>
        
    </style>
    

    <title>PRYMUS</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>

</head>
<body>
    

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>


    <div class="jumbotron jumbotron-fluid text-center">
        <h1 class="display-4 my-Text">OUR SERVICES</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Digital-Marketing-Services.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Digital Marketing Services</h4>
                <p class="card-text text-justify">We, humans, have digitalized every operation yet brands find it difficult to create a digital presence on online mediums. Our digital marketing ensures to extend our full support to budding or established businesses to grow their maximum capabilities on all the digital mediums.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center>
                </div>
            </div>
          </div>
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Graphic-Designing.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Graphic Designing</h4>
                <p class="card-text text-justify">Developing creatives associated with your online and offline mediums is very important to stand out from the rat race of products. Our creative team has created and rejuvenated the creative identities of many brands.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Application-Development.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Application Development</h4>
                <p class="card-text text-justify">Mobile App is the very famous digital platforms among B-2-B and B-2-C business models. We have built many apps to assist our clients in conducting seamless interaction with their customers and grow their businesses.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center> </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Product-Shoot.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Product Shoot</h4>
                <p class="card-text text-justify">In today's time, photoshoots are extensively getting creative, challenging, and attractive. So, to beat this neck-to-neck competition and embark one’s image in the customer’s memory one requires the assistance of a very creative and experienced team such as ours.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Audio-Video-Editing.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Audio Video Editing</h4>
                <p class="card-text text-justify">Audio and Video are the most-watched and heard content online and offline. Our sound and video creators have been creating numerous viral videos and audios for our client to help them out to spread their marketing message loud and clear.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center> </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="card">
              <center>
                <img class="img-thumbnail" src="images/Web-Designing-Services.png" alt="Card image cap" width="328" style="border:none;">
              </center>
              <div class="card-body">
                <h4 class="card-title text-center">Web Designing Services</h4>
                <p class="card-text text-justify">Websites are never going to die. As they have been getting more and more interactive and live with times. Our frontend developers can give your websites completely seamless and easy on eyes look with interactive functionalities whereas our backend developer ensures the sturdiness of the website to tackle high number of traffic.</p>
                <br>
                <br>
                <!--<a href="#" class="btn btn-primary">Read More</a>-->
                <center><button class="button">Read More</button></center> </div>
            </div>
          </div>
        </div>
      </div>

</body>
</html> 