<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Paid Advertising Campaign</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Facebook Ad Campaign</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Image Ads, Video Ads, Carousel Ads, Collection Ads, Canvas Ads, Collection Ads, Lead generation Ads, Offer Ads, and Event response Ads are the famous and effective Ad types to create on Facebook to achieve marketing and business goals via brands. But, to execute the complete Ad cycles can be highly tricky as that will require execution of a lot of parameters such as exhaustive research, defining the objectives of the Ad campaigns, putting the right target, setting the keywords and caption rights, and managing all within a limited budget can be very implacable and can cost heavily.       </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Google Ad Campaigns</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            If a brand can perform on google via their Ad campaigns they can beat all other digital platforms. Google Ad words provide to showcase your Ads in the Search Network, Display Network, Video (Youtube), shopping, and Universal Apps. All of these Ad types are highly effective and can widen your reach to the world. But, with Google Ads to work exhaustively efficient team is required to search lakhs of keywords and create Ad campaigns around them. With the searches divided between long phrased keywords and very short phrase keywords, we can help you in designing a great Ad campaign.   
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Youtube Ad Campaign</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Over time YouTube has become one of the most effective advertising mediums. There are four kinds of Ad types provided via YouTube such as Skippable in-stream Ads, bumper Ads, Video discovery Ads, and Non-video Ads. Advertising on YouTube has numerous perks as you can bound the potential customer base to watch your Ads and you are not bound by keyword research and can advertise based on the interests of your target base. 
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Instagram Ad Campaign</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Instagram is allured and admired by every brand as the social media platform revolves around the influencers and impression algorithm, giving every kind of product to reach out to their audience. Story Ads, photo Ads, Video Ads, IGTV Ads, Explore Ads, and carousel Ads have let the brands to think out of the box advertising creative modes to increases their reach as much and as soon as possible. Our team ensures brands to help out in implementing effective Instagram Ad campaign.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>LinkedIn Ad Campaigns</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            LinkedIn is highly popular for B-2-B lead generation. As, the people designated at higher positions are available on LinkedIn, providing a chance to all the brands to directly advertise to the decision-makers of a company. Text Ads, Sponsored InMail, Dynamic Ads, Direct Sponsored Content Ads, and Target the right LinkedIn Audience Ad help brands to easily reach a bigger and potential customer base within budget. LinkedIn is the best choice for wholesale based companies. As that allows brands to convert fast and earn a profit. </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Pinterest Ad Campaign</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Standard Pin Ads, Carousel Pin Ads, Shopping Pin Ads, Video Pin Ads, and App install Ads on Pinterest have made Pinterest famous among 30+ creators. As, Pinterest is highly interactive and object-oriented giving the brands a space to present all their products, or whereabout regarding services, or content on pins. Pins are savable, clickable, and sharable, giving brands a chance to keep their advertisement alive and interacting with their audience for a very long time. We ensure that our client leverage the space provided by Pinterest.              
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Snapchat Ad Campaign</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Streaks and filters on Snapchat have made it equally famous as Instagram among the millennials. Brands planning to target the younger generation must advertise on Snapchat. As Snapchat provides, Web View Ads, Article Ads, App Install Ads, Long-form Video Ads, Sponsored Lenses Ads and Sponsored Geofilters Ads, which are highly effective in creating very interactive and entertaining Ad campaigns for the brands who want to target the teens and mid-20s.            </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Bing Ad Campaign</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Expanded Ads, Dynamic Search Ads, Product Ads, Microsoft Audience Ads, Responsive Search Ads, and App install Ads by Microsoft on their search engine Bing has lured thousands of Brands around the world to advertise on Bing. As the competition is a little less here and these factors help you out to yield great results. As Bing Ads are executed after importing them from Google account, it can be a pickle to execute Ads on Bing without the help from the experts.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the Agenda of the Ad Campaign</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">It is highly important to be clear on the marketing agenda of any Ad Campaign before being launched in any part of the world.
                                </div>
                                <div class="para-white">We make sure to ask enough questions from our clients that can formulate a clear agenda and can mark our canvas to work on the other parameters.                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the Budget, Target and platform
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers, budget, creatives, the digital platforms, landing page, and analytics are foremost required for a successful advertising campaign. 
                                    
                
                                </div>
                                <div class="para-white">We ensure to chalk out the keywords, landing page, content, CTAs, creatives, period, and budget in front of our clients. Ad campaigns on social media are dependent on too many factors and need thorough research on how such Ad campaigns are going to affect.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Run the Ad Campaign
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Execution of the Ad Campaign is the core action of the complete process. We make sure that the accounts on the social media platforms are up to date and can be used to execute the Ad campaign.     
                                </div>
                                <div class="para-white">Even the minute mishaps can completely alter the Ad campaigns. So, we take utter care to execute the Ad campaigns of our clients with utter precision.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance of the Ad campaign is very necessary as that ensures the achievement of goals.
                
                                </div>
                                <div class="para-white">If the goals are not met after a certain period. The Ad campaign can be tweaked to achieve the desired results.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>