<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Portfolio Website</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Freelancers Portfolio Website</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Freelancers are always in dire requirement of being at all the possible digital platforms to get as many clients as possible. And creating a website will work the best to attract clients as that will make you just search away. Our website developer teams make sure to develop beautifully designed websites with a crisp call to action to turn in more and more conversions.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Personal Brand Portfolio Website</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Consultants, Comedians, Artists, Performers, and various other professions are personal brand dependent and require a website that can showcase your hard work and larger than life services that you provide. Our website design teams make sure to take personal brand building into Account and create a website that helps our clients to create their brand and convert deals.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            <div class="services-container">
                <div class="all-services" id="services-1">
                    <div class="inner-service" id="coded-service">
                        <div class="img-container">
                            <img src="/images/app3.gif" alt="">
                        </div>
                        <div class="head-container">
                            <h1>Licensed Professions Portfolio Website</h1>
                        </div>
    
                        
                        <div class="content-container">
                            <p text-align="justify">
                                A lot of professionals are legally prohibited from advertising themselves as brands yet their brand completely depends on personal branding. We make sure to take the legal prohibitions into the account and create websites that do not promote the people as brands yet associate the quality of service provided by them to their professional capabilities.
                            </p>
                        </div>
                        
                    </div>
                    <div class="inner-service" id="wordpress-service">
                        <div class="img-container">
                            <img src="/images/app5.gif" alt="">
                        </div>
    
                        <div class="head-container">
                            <h1>Service-Based Portfolio Websites</h1>
                        </div>
                        
    
                        <div class="content-container">
                            <p text-align="justify">
                                Catering, wedding planners, birthday planners, helpers, and other only-one-time-required services are completely dependent on the testimonials and showcasing their projects on the website to get more and more clients. Our team makes sure to capture our clients well and highlight their testimonials to help them out to convert more into clients.



                            </p>
                        </div>
                        
                    </div>
                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Get the Objective to create a website</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">The Agenda is very important while designing the website.
                                </div>
                                <div class="para-white">We make sure to design a website that fulfills the agendas of our clients.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Design the Interface and Content of the website
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Interface and content if done right attracts traffic and converts more clients.
                
                                </div>
                                <div class="para-white">We make sure to design websites that are seamless to read and interact with.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Design the clear navigation to get the clients
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">East to fill forms and designing clear actions for the visitors make it easy to get the clients.
                
                                </div>
                                <div class="para-white">Our team ensures to include all the required fields in the form and get as much as clientele possible.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Deliver the website and track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Completion of any project is ensured when 100% functionality of any website is approved by their visitors.
                
                                </div>
                                <div class="para-white">We make sure to take in account the feedback received from the actions taken on the website visitors to make the website interaction rich.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>