<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Product Pakage Designing</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>3-D Designing of the plastic container</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            As the bottles and shatches of the products are highly consumed to sold crores of products around the world. Creating different packaging for your product is highly challenging. So, to help our clients to get their products to stand out from the competition, we make sure to design a completely distinctive look for their product packaging.       
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>3-d Designing of the Non-plastic containers</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Metallic, Alloys or miscellaneous material used for packaging can be tough to be mold in different designs and requires experts to create beautiful designs on these challenging surfaces. Our team ensures to come up with different ideas to effectively design the packaging which can be easily replicated for thousands of products.                                      </p>
                    </div>
                   
                </div>
            </div>

        </div>

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>3-D Huge Cardboards Designs</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Huge and heavy products are tough to pack and move around. Such products are packed in different shades of Cardboard and costs heavily to the brands. But, as every packaging can be used for branding, we make sure to use space on cardboard packages to brand the product with simplicity. As the budget is always an issue to print on huge boxes we make sure to brainstorm and bring budget-friendly ideas.                     
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>3-D festive Packaging Design</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Festivals as Diwali, Christmas, New Year, and others are the occasions when people shop gifts for others. In such festive seasons, the packaging of products that sings and shouts festive mood can highly increase that sale as already observed by a lot of brands. Festive packaging helps the brands to associate themselves with the celebrations and exponentially increase their sales.                                      </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>3-D Promotional designing</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Offers can be very attractive and effective if included within the 3-D packaging of the product. That helps the product to stand out from the other products in their category. And in case if anyone has missed out on the digital or print Ads regarding the offers can still avail the offer.                         </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>3-D Parcel Packaging</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                         As the shipment of products is now a part and parcel of every brand. It is highly important to create attractive and sustainable packaging for your products. We ensure that the packaging for parcel is not dull and can highlight the brands with required instructions for the deliveing company to keep the prduct intact and safely delivered. 
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>


<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the Use of Packaging</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Different use of packaging for any product requires different kinds of product designing. As package design apart from being beautiful is also required to be practical.                        </div>
                                <div class="para-white">We make sure that the physical implementation of the product design will be practical and useful for the end-users apart from being viable to market and generate sales.
                                                                    </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Thorough Research Regarding the Look
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Today every segment of products have a kind of looks which are handy as well as attractive.
                                    
                
                                </div>
                                <div class="para-white">We ensure to pick colors, designs, fonts, and material as such that the product is sighted as distinct but not aloof from the other products in their category.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Create the look
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Getting the look right is a tough and intricately creative process. We, make sure that we create the mood of the package as such that it creates a highly impressive impression on the buyer.

                
                                </div>
                                <div class="para-white">As we understand that people tend to buy good-looking and attractive products. We put all the efforts to create salable, handy, attractive, and within budget packaging designs.                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span>Implement the Best</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">The designing package is all about placing everything in the right place and not miss out on any details.     
                                </div>
                                <div class="para-white">Our team has the experience to deisgn the best of the packagings for all the kinds of products. We ensure to include every detail and deliver the best of the designs to our clients.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>