<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Restricted Photoshoot Services</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>E-commerce Photoshoot</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Myntra, Amazon, Flipkart, and other third-party platforms have E-commerce platforms that are directly delivering to the customers, have defined angles and looks of models for each product that can be sold via these platforms. Every brand has to comply with their demands to be able to sell. So, we help out brands bring out the best of their products within the limitations set for each product.                    </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Legally Restricted Photoshoot</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Different demographic areas have different rules and restriction for different products. We comply to do a thorough research regarding the products and the demographics where they are to used for advertisment purpose. As they can have fatal impacts on the image building of the Brands. Our creative teams create effective ways to bring out the best concepts without violating any laws.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the use and objective</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">E-commerce websites and Demographic areas with defined laws regarding the photoshoot of the concerned products are defined firsthand.                     </div>
                                <div class="para-white">We make sure to go through all the guidelines and laws and create a concept abiding by the rules. As brands, a lot of time are not aware of the rules and regulations. So, we make sure to take it upon us to go through the guidelines and share the same with our clients.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Assemble the resources                    </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">After creating the concept to execute it we need the resources. As for outdoor or indoor photoshoots, different kinds of resources will be required. 
                                    
                
                                </div>
                                <div class="para-white">We ensure to assemble all the possible resources and bill the same before the photoshoot and share the same with our clients, describing the use of such resources on the quality and mood of the restricted photoshoot.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Conduct the Photoshoot
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Getting the photoshoot right is the crux of all the planning.               
                                </div>
                                <div class="para-white">Our creative photoshoot team ensures to develop the photographs as per the concept pre-decided and as per the budget and within the set time frame. Our professional photoshoot experience and deliveries have helped us to win numerous brands and their trust.              
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Implement the Feedback and Deliver the Best</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Photoshoot even restricted is a highly creative process and can have thousands of different outcomes.
                
                                </div>
                                <div class="para-white"> We ensure to keep in the loop with our clients throughout each step of the photoshoot. So, that we don't miss any possible expectations of our clients and delivers the best within the restrictions.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>