<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/email-marketing.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Server & Domain</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>SERVER AND DOMAIN</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/personalised-email.png" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Server Services</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Servers are the places where the Websites, Applications, or software are hosted. We have partnered with Godaddy, AWS, Bluehost, Azure, and other best service providers to provide our clients with the best hosting options to run their projects in the long run in the limited budgets to provide their project users or visitors a smooth interaction rich experience.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/new-interaction-email.png" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Domain Services</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            The domains are the digital identities of the websites. We thoroughly research the best options to benefit our clients against the challenges of the budget, name-alikes, demographics, and budget constraints. Domains can help you to go popular and attract the right traffic if selected considering the demographics where your products are highly required.


                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            






                <!-- --------------------------------------------------------------------------------------- -->


                

        <!-- <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="server-service">
                    <div class="img-container">
                        <img src="/images/app4.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>E-commerce Apps</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            E-commerce websites based on woo-commerce, Magento, Shopify, and other platforms can be converted into smart apps for all kinds of platforms as android, iOS platforms, Linux, Mac, Windows, and Google Fuchsia. E-commerce Apps provides Easy onboarding, Native App, Unlimited Product categories, Seamless Product Navigation, Multiple Secure Payment Options, and many other exclusive features for your e-commerce mobile shops.
                        </p>
                    
                    </div>

                </div>
                </div>

            -->

                </div> 
                
                </div> 
            
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>how we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Pick the Best</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We run a thorough research and pick the most suitable servers depending on the traffic load, demographics, CDN services, and budget constraints.
                                </div>
                                <div class="para-white">Similarly, for the domain names, we exhaust our resources to pick the best for our clients.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Compare the pricing</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> We prepare a report comparing the 10 years pricing and the star marked facilities provided by each company providing the domain and server facility.
                
                                </div>
                                <!-- <div class="para-white">We communicate the best designs with our clients to execute the front end, look and functionalities of their project. -->



                 
                                <!-- </div> -->
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Share with the clients</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We communicate all the details transparently with the clients and make sure that clients understand why we suggest one or the other company to 
                
                                </div>
                                <div class="para-white">purchase a domain or server facility depending on the pricing and flexibility with technologies on which the project is prepared.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                
                
                
                        <!-- <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Launch the beta version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Launching the beta version is a very smart choice as only the real users of Apps can optimize the functionalities provided in any App.
                
                                </div>
                                <div class="para-white">The users are also communicated to extensively use the beta-version and provide their feedbacks  We make sure to assist and learn from the user’s feedback to create the best App for the final launch.
                
                                </div>
                            </div>
                        </div>

                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">6. <span style="margin-left: 8rem;"></span> Launch the Final Version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As a result of our communicative and strategized process, we deliver the best Apps.
                
                                </div>
                                <div class="para-white">Our Mobile App Developing team ensures to execute all the given requirements with the best possible solutions.
                 
                                </div>
                            </div>
                        </div> -->

                        </div>
                        </div>

        
                        <div class="seo-triangle-container-2">
                            <div class="seo-triangle-2">
                            
                            </div>
                            </div>            





<!-- -------footer----------- -->

<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>