<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>SMS Marketing Services</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Mobile App Messaging</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Push message notification via mobile Apps is the most effective way to keep the user engaged in a very long term with the mobile App. A lot of time users just stop visiting an App and delete the App after sometimes, because without constituting long term engagement with your end-users, App loses the retention. Hence, we make sure to create Personalized, contextual in-app messaging and push notification for each function and deliver them in a fraction of seconds. Our services are completely flexible and can be altered as per the requirement of our clients'.            </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Bulk Messaging Services</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Bulk SMS for marketing is still a very hit idea in the field of direct marketing. These days special offers containing reference codes are generated and targeted in huge volumes and consumers have responded in a highly positive manner. A lot of time such SMSs generate lakhs of sales in festive and non-festive seasons. But, to execute such SMSs on such a large audience will require a team of efficient marketers who are experts in direct Marketing and keep the loop of the AAARR model. We make sure to provide effective marketing strategies, keep track of the response, and perform within the budget.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the KPIs of the SMSs</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">"What CTAs we want the receiver to take?", is something that we need to decide beforehand.                           </div>
                                <div class="para-white">SMS marketing is limited via characters. So, it's very important to use catchy and easily understandable phrases to translate the message across lakhs of people very clearly. So, we make sure the goal of SMSs is pre-decided.                       </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the segmentation of customers
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers is very necessary as that outlines for us the requirement to design different sets SMSs as per their gender, age, concerns, language, and interests.
                                    
                
                                </div>
                                <div class="para-white">Fulfilling these parameters and creating highly personalized SMSs can hit the target receivers very effectively. So, our team makes sure to execute personalized push notifications or bulk marketing messages intricating the emotional as well as attention-grabbing aspects within the limited characters.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Market the SMSs
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We pre-plan the most effective time-line to market the bulk SMSs or Push notifications to get actions on the set CTAs.       
                                </div>
                                <div class="para-white">Our team of copywriters and marketers sit together, with all the research and Customer database, and then exclusively design SMSs for each of our clients. We share the whole process with our clients and make them understand the ROI to expect from the SMSs sent.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance of the SMSs is highly recommended. As every SMS sent generates the requirement of other cycles of SMSs to be sent if CTAs are included in the SMSs.     
                                </div>
                                <div class="para-white"> Our team ensures to even set software on the ground to cross-check how the customers who have received SMSs have performed in case of business outlets. For other kinds of online mediums, we keep on track of the actions taken on the notifications via the end receiver. As, such data helps to filter the customer on a more personalized level, establishing a long-term relationship between our clients and their customers.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>