<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Social Media Optimization</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Facebook</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Creating facebook post, stories, videos, polls, lives and other engaging content can be very challenging for brand. So, to help out brands our team focuses on creating engaging posts for daily posting.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>YouTube</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Videos are amazing content to attract people's attention to one's brand's message. We help brands to create variety of video to spread across their message to their customer base on YouTube.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            <div class="services-container">
                <div class="all-services" id="services-1">
                    <div class="inner-service" id="coded-service">
                        <div class="img-container">
                            <img src="/images/app3.gif" alt="">
                        </div>
                        <div class="head-container">
                            <h1>Instagram</h1>
                        </div>
    
                        
                        <div class="content-container">
                            <p text-align="justify">
                                Instagram is Highly competitive and needs people to bring their best in all the posts and that can be very competitive and trick to think of and create attractive posts.  So, our creative digital branding team makes sure to pre-plan in advance the daily Instagram posts plan for Instagram and engage daily on comments.
                            </p>
                        </div>
                        
                    </div>
                    <div class="inner-service" id="wordpress-service">
                        <div class="img-container">
                            <img src="/images/app5.gif" alt="">
                        </div>
    
                        <div class="head-container">
                            <h1>LinkedIn</h1>
                        </div>
                        
    
                        <div class="content-container">
                            <p text-align="justify">
                                LinkedIn is highly productive and communicative for professionals. But, the LinkedIn posts more than entertaining are required to be educational. And our team makes sure to exhaustively research the captions and creative posts before creating and posting.


                            </p>
                        </div>
                        
                    </div>
                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

                <div class="services-container">
                    <div class="all-services" id="services-1">
                        <div class="inner-service" id="coded-service">
                            <div class="img-container">
                                <img src="/images/app3.gif" alt="">
                            </div>
                            <div class="head-container">
                                <h1>Twitter</h1>
                            </div>
        
                            
                            <div class="content-container">
                                <p text-align="justify">
                                    The hashtags on twitter are live and changing every hour. Which gives chance to every tweet to attract lot of eye balls if done right. So, our team with experience helps brands and political entities to create hype within hours around specific agendas.
                                </p>
                            </div>
                            
                        </div>
                        <div class="inner-service" id="wordpress-service">
                            <div class="img-container">
                                <img src="/images/app5.gif" alt="">
                            </div>
        
                            <div class="head-container">
                                <h1>Influencer Marketing</h1>
                            </div>
                            
        
                            <div class="content-container">
                                <p text-align="justify">
                                    Influencer Marketing is the new trend in the marketing world. It has helped many brands to get sudden hype from time to time and gain credible trust by associating with influencers of their niche. Our team makes sure to tie up brands with influencers with credible following and productive influence.
    
    
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Research the competition</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We research all the market trends of specific niche and the daily activities on social media of the potential competition of our clients to be 
                                </div>
                                <div class="para-white">relevant yet stand out enough with our daily posts and activities on social media platforms.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Create content plan</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We work on the researched market trends and the posible ways with content, videos and stories

                
                                </div>
                                <div class="para-white">to create hype around the products or services of our brands.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Post the creatives on schedule</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Scheduling and posting post at specific time is very important. As consistency is the only way to create hype and interactive engagement with the preferred customer base on social media platforms.
                
                                </div>
                                <div class="para-white">We make sure to pre plan the schedule and execute on time.



                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Analyse the post insights</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">We analyse the insights of every post on all the social media platforms.
                
                                </div>
                                <div class="para-white">And keenly extract the productive posts with high engagement and repeat posting such posts or content and create more hype.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>