<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Video Editing Services</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Animated Video Editing</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Animation videos, even on serious topics, help the viewers to lighten their mood and engage the viewers for long watch time durations. Animated videos help out the customers to loosen up and engage with the content.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Doodle Video Editing</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Doodling is a new and creative way to approach customers with goofy and engaging content videos. Our clients have a high appreciation for the doodle videos created by our creative team as they help them to win more sales and subscriptions.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Cinematic Video Editing</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Interview, short stories, poetic videos, speeches, news pieces, product reviews, DIY, and other kinds of cinematic videos, directly involving human bodies or objects are challenging to edit. Such videos are highly dependent on using sounds and involving too many angles to create a story. Our team of experts understands the requirement of involving all the angles to create an enthralling video to engage the customer. So, we make sure to create the best of the videos.                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Drone Video Editing</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            Drone videos are trending videos on social media and other digital platforms. As the drone can take you away from the subject and showcase a very large piece of the world around the subject. But, it is very tricky to edit the videos and make the scenes of the drone relatable to the story of the concerned project video. Our team of video editors understand the challenges of drone videos and have already created high-quality drone videos for multiple brands.        </p>
                    </div>
                   
                </div>
            </div>

        </div>

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Sales Pitch Editing</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            B-2-B or B-2-C models with intricate products or services which requires a step-wise guide to understand better, or translate to the customers the perk of purchasing those products or services, "Sales-Pitch-Videos" can do wonder as they help out brands to tell their stories and create tutorials to avail their services or products. Our team understands the advantages of a good sales pitch video and create the best.
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>360 Degree Video Editing</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            360-degree videos edition is highly effective in marketing and sales strategies. As such videos, help out the customers to get a 360-degree view of the products and make informed decisions regarding the purchase. 360-degree videos add to the imagination and transparency. We provide high-quality 360-degree videos to help out our clients to generate more sales and scale up their operations.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>
       

<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Understand the concept of the project</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">E-commerce websites are completely dependent on the CMS, servers, domain, and security certificates integrated into their in builts.
                                </div>
                                <div class="para-white">We make sure to assemble the best resources to build high-end websites that can handle any amount of traffic load and requests submitted to the server.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the segmentation of customers
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers is very necessary as that outlines for us, the 
                                    Traffic load from particular demographics and potential timing 
                                    
                
                                </div>
                                <div class="para-white">when such traffic loads can reach the rooftops.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Upload the websites
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Get the website live and cross-check all the functionalities. We ensure end to end functionalities performance on all the pages of the website. E-commerce websites need a seamless backend to continuously add and delete the products.
                
                                </div>
                                <div class="para-white">We ensure the website developed is for the long run and can pass the requirements of the future as well.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance of the building product is very necessary as that ensures safety,
                
                                </div>
                                <div class="para-white">interactive UI/UX, easy to use functionalities and smooth payment gateways.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>