<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/app-development.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Our Services</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>Whatsapp Marketing</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/app1.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>Bulk Whatsapp SMS</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Promotional Whatsapp SMSs, Transactional Whatsapp SMSs, Bulk Whatsapp voice SMSs, and Bulk Whatsapp SMSs can be highly tough to execute without getting a block on Whatsapp. We have created personalized software to help out brands to execute their Whatsapp marketing strategies without any worries. Our bulk Whatsapp SMS services will help you in reaching unlimited people just within a click. 
                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/app2.gif" alt="">
                    </div>

                    <div class="head-container">
                    <h1>Whatsapp Brand Building</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            A lot of political entities and brands do not have the leverage of having their customer base available on social media but Whatsapp. Understanding the challenges we make sure to help out our clients to leverage WhatsApp as much as possible. Our team of coders can alter the platform making the platform more interactive. We also manage the broadcasts and status to market our clients on WhatsApp.  </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



                </div>
                </div>

       






                <!-- --------------------------------------------------------------------------------------- -->


                

           
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>How we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Establish the objective and scale</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Whatsapp is all about getting viral in minutes. There's no content in this world that you cannot make viral on Whatsapp.                          </div>
                                <div class="para-white"> Our team ensures to create to set the scale and objective very clear to lost touch with people or get hunted by spammers. We keep the WhatsApp marketing very exclusive and reach out to the customer base of only our interests.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Detail the segmentation of customers
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Segmentation of potential customers is very necessary as that outlines for us the engagement rate to expect and the possible virality of the content broadcast or shared in the groups.
                                    
                
                                </div>
                                <div class="para-white">Our team ensures to save and ID each WhatsApp Contact number and closely monitor their engagement activity with the content shared, and CTAs presented to them. And create every other interactive management activity based on the feedback loop received from the end-engagement reports.
                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Content Plan for the Marketing content
                                </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Creating a thoughtful and crisp content bucket is very necessary to be always ready with the content months before.
                
                                </div>
                                <div class="para-white">Being ready with the content plan helps our clients to understand the KPIs possible to achieve via WhatsApp marketing. And as the content is ready and already shared with our clients beforehand we make sure to make all the content highly viral and engaging.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Track the performance</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Tracking the performance parameters such as, the engagement rate, growth of groups, virality of the content produced and customer base performance on the CTAs make Whatsapp marketing, highly effective.    
                                </div>
                                <div class="para-white"> Our marketing team ensures to keep track of all the objectives and share the same with our clients. And based on the performance of each parameter we tweak our marketing strategies to scale it to the maximum levels possible while keeping the retention rate high as well.
                 
                                </div>
                            </div>
                        </div>
                
                
                
                        

                        </div>
                        </div>





<!-- How are we different -->

<!-- triangle -->

<div class="seo-triangle" style="background: #000">
    <h1></h1>
</div>



<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>