<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Prymus- Technical Blogs">
    <meta name="author" content="Prymus">
    <link rel="icon" href="/images/prymus.png" type="image/gif" sizes="16x16">

    
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/seo.css">
    <link rel="stylesheet" href="/css/header_updated_s.css">
    <link rel="stylesheet" href="/css/email-marketing.css">
    <link rel="stylesheet" href="/css/footer1.css">
    
    <!-- <link rel="stylesheet" href="/css/seo.css"> -->
    <link rel="stylesheet" href="/css/chat.css">


    <title>Wordpress Websites</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180719275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180719275-1');
</script>
</head>
<body>

    <% if (user) { %>
        <%- include ('includes/header_updated_s.ejs') %>     
    <% } else { %>
        <%- include ('includes/header_updated_n.ejs') %>
    <% } %>

     <div class="main-image">
         
     </div>   

    <div class="container-one" id="all-services-main">
        <div class="heading-container">
            <h1>WORDPRESS WEBSITE</h1>
        </div>

        <!-- Web Development services starts here -->
        <!-- <div class="sub-heading-container">
            <h1>Website Development</h1>
        </div> -->

        <!-- <div class="sub-heading-container">
            <h2>A new line for Website Development & Maintenance</h2>
        </div> -->

        <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="portfolio-service">
                    <div class="img-container">
                        <img src="/images/personalised-email.png" alt="">
                    </div>
                    <div class="head-container">
                        <h1>WordPress Blogging Websites</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            Most of the fashion blogs, spiritual blogs, cooking blogs and other blogs are created on WordPress. It's the first choice of bloggers because of its ease. Our team understands that bloggers needs a independent and flexible medium that they can run without long run dependency on any agency. We make sure  to provide easy to handle blogging websites.

                        </p>
                    </div>
                    
                </div>
                <div class="inner-service" id="ecomm-service">
                    <div class="img-container">
                        <img src="/images/new-interaction-email.png" alt="">
                    </div>

                    <div class="head-container">
                    <h1>WordPress Multi-functional Websites</h1>
                    </div>
                    

                    <div class="content-container">
                        <p text-align="justify">
                            As content and images are easy to change, alot of companies prefer their official websites to be on WordPress. But, then the other functionalities as  adding sliders, galleries, forms, payment gateways and other functions can be very tricky. There we come into the picture and help out our clients to get desirable results even from WordPress.
                        </p>
                    </div>
                   
                </div>
            </div>

        </div>



<!-- -------------------------------------------------------------------------------------------------------------- -->



            






                <!-- --------------------------------------------------------------------------------------- -->


                

        <!-- <div class="services-container">
            <div class="all-services" id="services-1">
                <div class="inner-service" id="server-service">
                    <div class="img-container">
                        <img src="/images/app4.gif" alt="">
                    </div>
                    <div class="head-container">
                        <h1>E-commerce Apps</h1>
                    </div>

                    
                    <div class="content-container">
                        <p text-align="justify">
                            E-commerce websites based on woo-commerce, Magento, Shopify, and other platforms can be converted into smart apps for all kinds of platforms as android, iOS platforms, Linux, Mac, Windows, and Google Fuchsia. E-commerce Apps provides Easy onboarding, Native App, Unlimited Product categories, Seamless Product Navigation, Multiple Secure Payment Options, and many other exclusive features for your e-commerce mobile shops.
                        </p>
                    
                    </div>

                </div>
                </div>

            -->

                </div> 
                
                </div> 
            
                
                <!-- triangle -->
<div class="seo-triangle-container">
    <div class="seo-triangle">
        <h1>how we work?</h1>
    </div>
    </div>




                <!-- Timeline starts here -->

                <div class="seo-container-2">
                    <div class="seo-timeline">
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">1.<span style="margin-left: 8rem;">Understand the idea</span> </h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">A lot of our clients come with very advanced and creative ideas for their websites but not all are achievable on wordpress.
                                </div>
                                <div class="para-white">So, first we break down the possibility of executing such ideas on the WordPress.
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">2. <span style="margin-left: 8rem;"></span> Design or select the template</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color"> front-end can be designed as well as can be adapted from the paid and unpaid templates available on the internet.
                
                                </div>
                                <div class="para-white">We communicate the best designs with our clients to execute the front end, look and functionalities of their project.



                 
                                </div>
                            </div>
                        </div>
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">3. <span style="margin-left: 8rem;"></span> Deliver the website</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As soon as possible we deliver the website after full filling all the requirements of our clients.
                
                                </div>
                                <div class="para-white">


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">4. <span style="margin-left: 8rem;"></span> Ensures the clients is flexible with backend</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As the main purpose of using WordPress is to make the client independent to handle the nitty-gritty of their websites.
                
                                </div>
                                <div class="para-white">So, we make sure to conduct a training session for our clients to make them thoroughly understand the backend and the steps to implement the changes.


                 
                                </div>
                            </div>
                        </div>
                
                
                
                        <!-- <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">5. <span style="margin-left: 8rem;"></span> Launch the beta version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">Launching the beta version is a very smart choice as only the real users of Apps can optimize the functionalities provided in any App.
                
                                </div>
                                <div class="para-white">The users are also communicated to extensively use the beta-version and provide their feedbacks  We make sure to assist and learn from the user’s feedback to create the best App for the final launch.
                
                                </div>
                            </div>
                        </div>

                        <div class="seo-timeline-sub">
                            <div class="seo-timeline-header">
                                <h1 style="margin-left: 4rem;">6. <span style="margin-left: 8rem;"></span> Launch the Final Version</h1>
                            </div>
                            <div class="seo-timeline-paragraph">
                                <div class="para-color">As a result of our communicative and strategized process, we deliver the best Apps.
                
                                </div>
                                <div class="para-white">Our Mobile App Developing team ensures to execute all the given requirements with the best possible solutions.
                 
                                </div>
                            </div>
                        </div> -->

                        </div>
                        </div>

        
                        <div class="seo-triangle-container-2">
                            <div class="seo-triangle-2">
                            
                            </div>
                            </div>            





<!-- -------footer----------- -->

<%- include('footer1.ejs') %>

<% if (user) { %>
<div id="chat-wrapper" class="chat-wrapper shadow border-left border-right"></div>
<script src="/socket.io/socket.io.js"></script>
<% } %>



<script src="/js/index.js"></script>  
<script src="/js/chat.js"></script>  

<script src="/js/header_updated_s.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>