/* all data class starts here */
.all-data{
  width: 100vw;
  min-height: 80vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.all-data .heading-container {
  width: 100%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.all-data .heading-container div h1 {
  font-size: 4vw;
  cursor: pointer;
}

.all-data .heading-container div h1 a {
  text-decoration: none;
}

#auto-heading a{
  color: red;
}

#auto-heading a:hover{
  color: green;
  
}

#auto-heading:hover{
  transform: translateY(-3px);
  transition: transform 500ms ease-out;
}

#auto-heading:active{
  transform: translateY(1px);
  transition: transform 100ms ease-out;
}

#auto-heading a:active{
  color: green;
  transform: translateY(1px);
}

#custom-heading a{
  color: blue;
}

#custom-heading:hover{
  transform: translateY(-3px);
  transition: transform 500ms ease-out;
}

  #custom-heading:active{
    transform: translateY(1px);
    transition: transform 100ms ease-out;
  }

#custom-heading a:hover{
  color: green;
  
}

#custom-heading a:active{
  color: green;

}

.plan-form-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.plan-form-container form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ff4f03; */
}

.plan-form-container form input{
  width: 40%;
  height: 4rem;
  margin: 1% 0;
  border-radius: 2px solid black;
  border-radius: 50px;
  padding: 0 3rem;
  font-size: 1.2vw;
}

.plan-form-container form input:focus{
  border: 3px solid green;
  background-color: rgb(202, 250, 250);
  outline: none;
}

label#label-select-days{
  font-size: 2rem;
}

select#select-days{
    width: 42rem;
    height: 5rem;
    border-radius: 30px;
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 3rem;
    outline: none;

}

select#select-days:active,
select#select-days:link{
  outline: none;
}





.plan-btn{
  
  
  width: 12% !important;
  height: 5rem !important;
  background: linear-gradient(to right, blue, red);
  border-left: 2px solid blue;
  background-origin: 2px solid blue;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  border-radius: 50px;
  margin: 2rem 0;
  box-shadow: 2px 5px 5px 2px rgba(255, 0, 0, 0.685);
  font-size: 2.5rem;

}

.plan-btn:hover{
  transform: translateY(-3px);
  color: #fff;
}

.plan-btn:active{
  transform: translateY(1px);
  outline: none;
}
.plan-btn:focus{
  outline: none;
}

#custom-plan-submit{
  align-self: center;
}

#main-customizer{
  width: 100%;
  min-height: 20rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  
}

#main-customizer .headings-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
}

#main-customizer .headings-container h1{
  font-size: 3rem;
  color: rgb(255, 66, 66);
}

#main-customizer .data-container {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 3rem;
}

#main-customizer .data-container .fb-data{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#main-customizer .data-container .fb-data label{
  font-size: 2.2rem;
}

#main-customizer .data-container .fb-data select {
  width: 80%;
  height: 4rem;
  font-size: 2rem;
  margin-top: 2rem;
}

#main-customizer .data-container .fb-data input {
  width: 80%;
  height: 4rem;
  font-size: 2rem;
  margin-top: 2rem;
}

#fb-data-days{
  flex: 1;
}

#fb-data-price{
  flex: 1;
}
#fb-data-total{
  flex: 1;
}

.showTotal{
  font-size: 5rem;
  color: blue;
  /* box-shadow: 3px 3px 3px blue; */
  text-align: center;
  border-radius: 20px;
  padding: 3rem;
  border: 3px solid blue; 
}

.showTotal:active,
.showTotal:visited{
  color: red;
  border: none;
  border: 3px solid red; 
  
}


.showTotal h1{
  font-size: 5rem;
}


    
@media only screen and (max-width: 850px) {

  .all-data .heading-container {
    margin-bottom: 2rem;
  }

  .all-data .heading-container div h1 {
    font-size: 5vw;
  }

  .plan-form-container form input{
    width: 75%;
    height: 5rem;
    margin: 3% 0;
    font-size: 2.5rem;
  }

  .plan-btn {
    width: 28%;
    font-size: 2.7rem;
    color: white;
  }

  #main-customizer .data-container{
    flex-direction: column;
  }
  .plan-form-container form input[type=submit]{
    width: 18rem !important;
  }

}





@media only screen and (max-width: 450px) {

  .all-data .heading-container {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .all-data .heading-container div h1 {
    font-size: 8vw;
  }

  .plan-form-container form input{
    width: 90%;
    height: 4rem;
    margin: 3% 0;
    font-size: 2rem;
  }

  .plan-btn {
    width: 40%;
    font-size: 2rem;
    color: white;
  }

  select#select-days{
    width: 30rem;
  }

}


















.form-contact{
    width: 100vw;
    height: 750vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    
}
.form-contact .form-contact-heading{
  margin-top: 10rem;
  
}

.form-contact .form-contact-heading h1{
    color: #ff4f03;
    font-size: 5vw;
    text-transform: capitalize;
}

.form-contact .contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    background-color: #fff;
}

.form-contact .contact-form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-contact .contact-form form input{
  width: 35rem;
  height: 5rem;
  margin-top: 3rem;
  outline: none;
  text-align: center;
}

.form-contact .contact-form form input[type=submit]{
  background: #fff;
  border: #ff4f03 solid 2px;
  border-radius: 50px;
  font-size: 1.5vw;
  width: 15vw;
  height: 3vw;
  cursor: pointer;
  outline: none;
}

.form-contact .contact-form form input[type=submit]:hover{
  background: #ff4f03;
  border: #ff4f03 solid 2px;
  border-radius: 50px;
  font-size: 1.5vw;
  width: 15vw;
  height: 3vw;
  cursor: pointer;
  color: white;
}


.form-contact .contact-form form label{
  font-size: 3rem;
margin-top: 3rem;
}

/* slider */
  
   .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px !important;
    background: #ff4f03 !important;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: none !important;
    margin-bottom: 7rem;
  }
  
  .slider:hover {
    opacity: 0.7;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
  }
   */

/* slider */



.footer-container{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer{
  width: 100%;
  height: 10vh;
  background: black;
  font: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-weight: 600;
}
    
  input[type="file"]{
      border: 2px solid #000;
  }


  .marketing-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .marketing-section-1{

  }

  .marketing-section-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .setClass-1{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 10%;
  }

  .setClass-2{
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .setClass-3{
    display: flex;
    flex-direction: column;
    width: 30%;
  }




