#visit {
    padding-top: 20rem !important;
}

#visit-text {
    font-size: 7rem;
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
}

.card.text-center.one-card{
    padding-top: 3rem;
    padding-bottom: 2rem;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    border-radius: 15px;
}

.card-img-top.align-self-center.mb-3.pl-4.pr-4.address {
    width: 10rem;
    height: 8rem;
}

.container-fluid.ourServices.pt-5.mt-5.mb-5.mt-5 {
    background-color: blue;
}

#mobile{
    display: none;
}

div.card.text-center.one-card.desktop {
    height: 90vh;
}

img.card-img-top.align-self-center.mb-3.pl-4.pr-4.address.desk {
    margin-top: 16rem;
}

.card.text-center.one-card {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
    #mobile{
        display: inline-block;
    }

    #desktop{
        display: none;
    }
}