.footer-container
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0;
    background: rgb(255, 66, 66);;
    color: #fff;
    padding: 0 50px;
    font-size: 2rem;
}

.footer-container .data-container {

}

.footer-container .data-container ul li{
    list-style-type: none;
}

.footer-container .policy-container ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer-container .policy-container ul li{
    list-style-type: none;
}

@media (max-width: 1350px){
    
}

@media (max-width: 750px){

}

