.footer-container
{
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:0;
    background: rgb(255, 66, 66);;
    color: #fff;
    padding: 0 50px;
    font-size: 2rem;
    overflow-y: hidden;
    z-index: 100;
}

.footer-container .data-container {

    
}

.footer-container .data-container ul li{
    list-style-type: none;
}

.footer-container .policy-container ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.footer-container .policy-container ul li{
    list-style-type: none;
}

#mob-screen{
    display: none;
}

@media (max-width: 850px){
    .footer-container{
        flex-direction: column;
        padding: 0 10px;
    }

    .footer-container .data-container{
        width: 100%;
        text-align: center;
    }
    .footer-container .data-container ul li{
        font-size: 2.2rem;
    }
    
}

@media (max-width: 450px){

    
    .footer-container .data-container ul li{
        font-size: 1.6rem;
    }
    .footer-container .policy-container ul li{
        font-size: 1.7rem;
    }
    .terms-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #big-screen {
        display: none;
    }



    
}

