:root{
    /* --primary-heading-color : rgb(255, 66, 66); */
    --primary-heading-color: #e50000;
    --primary-font-size-heading: 7rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    font-family: Helvetica, sans-serif;
    line-height: 1.7;
    color: #000;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    min-height: 100vh;
    /* -webkit-user-select: initial; Safari
    -ms-user-select: initial; IE 10 and IE 11
    user-select: initial; Standard syntax */
    
}


header.header{
    width: 100vw;
    height: 16vh;
    min-width: 16vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 30%; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.logo-conatiner img{
    width: 28rem;
}

.mob-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: absolute;
    right: 0;
    padding-right: 2rem;
    padding-top: 3rem;
    cursor: pointer;
    display: none;
}
.mob-nav-container img{
    width: 4rem;
}

.mob-nav-container:focus{
    outline: none;
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 65%;
    padding-right: 5rem;
    
}

.nav-container ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul li{
    list-style: none;
}

.nav-container ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-container ul li a:hover{
    color: var(--primary-heading-color);
}

.brand{
    padding: 1rem 2rem;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    border-radius: 20px;
    box-shadow: 3px 4px 3px rgba(255, 0, 0, .6);
}

.brand:hover{
    background: linear-gradient(to right, blue, red);
    color: #fff !important;
    box-shadow: 5px 5px 5px red;
}

.nav-container form input[type=submit] {
    background-color: #fff;
    color: #000;
    padding: 1rem 6rem;
    font-size: 2rem;
    font-weight: 600;
    border-top: blue 3px solid;
    border-right: blu 3px solide;
    border-bottom: red 3px solid;
    border-left: red 3px solid;
    border-radius: 50px;
    box-shadow: 5px 5px 5px red;
}

.nav-container form input[type=submit]:hover{
    background: linear-gradient(to right, blue, red);
}




@media only screen and (max-width: 1250px) {

}

@media only screen and (max-width: 850px) {

    .go{
        transform: translateY(-200%);
        transition: all 1s;
    }

    .come{
        transform: translateY(200);
        transition: all 1s;
    }

    .mob-nav-container{
        display: flex;
        display: -webkit-flex;
    }

    .logo-conatiner img{
        width: 20rem;
    }

    .nav-container{
        height: 200vh;
        background: white;;
        padding-right: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        flex-direction: column;
        justify-content: flex-end;
        width: 100vw;
    
    }

    .nav-container ul{
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        padding: 0;
        transform: translateY(-20%);

        
    }

    .nav-container ul li:first-child{
        padding-top: 0rem;
    }

    .nav-container ul li{

        padding-bottom: 3rem;
        
    }

    .nav-container ul li a{

        font-size: 3rem;
        color: #000;
        
    }

    .nav-container ul li a:hover{
        color: var(--primary-heading-color);
    }
} 

@media only screen and (max-width: 450px) {



    .nav-container {
        
    }
    
    .nav-container ul li a{

        font-size: 2rem;
    }

    .website-health .heading-container{
        min-height: 30rem;
        margin-top: -8rem;
    }

    .website-health .form-container input[type=text]:last-child:focus{
        margin-bottom: 5rem;
    }
    
    
}



