*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    font-family: Century Gothic, sans-serif;
    line-height: 1.7;
    color: #000;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    
}

.container-one{
    width: 100vw;
    height: 80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container-one .img-container{
    padding: 10px;
    width: 90%;
    height: 80vh;
}

.button-container{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#btn-1{

    
}

#btn-2{

}

#btn-3{
    
}

.btn-top{
 
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

    .btn-main{
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    border-left: blue 4px solid;
    border-right: 4px solid red;
    border-top: 4px solid blue;
    border-bottom: 4px solid red;
    padding: 15px 42px;
    border-radius: 40px;
    box-shadow: 2px 2px #0000006b;
    
}

.btn-main:hover{
    transform: translateY(-10px);
    transition: 300ms;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    background: linear-gradient(to right, blue, red);
    padding: 15px 42px;
    border-radius: 40px;
    box-shadow:
    0 2.8px 2.2px rgb(236, 9, 9),
    0 6.7px 5.3px rgb(50, 5, 255),
    0 12.5px 10px rgba(250, 3, 3, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
   
}

.btn-main:active{
    transform: translateY(1px);
    transition: 50ms;
}


.mission-vision{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}
    
.mission-vision .img-container{
    width: 100vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mission-vision .img-container img{
    width: 180px;
}

.mission-vision .heading-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.mission-vision .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.mission-vision .content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mission-vision .content-container p{
    margin-top: 15rem;
    font-size: 3rem;
    color: #000;
    font-weight: 600;
}

.mission-vision .content-container ul{
    margin-top: 2rem;
}

.mission-vision .content-container ul li{
    list-style-type: disc;
    font-size: 1.8rem;
    line-height: 5rem;
    font-weight: 600;
}


.our-services{
    
    width: 100vw;
    height: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#how-different{
    height: 2600px;
    margin-top: 10rem;

}


#how-different-header{
    margin-bottom: 8rem;
}

.our-services .heading-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.our-services .services-container {
    width: 100%;
    height: 2700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
}

/* .our-services .services-container .service-conatiners{
    width: 100%;
    height: 90%;
    background-color: green;
    margin-bottom: 130px;
} */


#services-container-1{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 80px;
}
#services-container-2{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

#services-container-3{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    
}

.our-services .services-container .service-conatiners .all-services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
}
.our-services .services-container .service-conatiners .all-services .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services .services-container .service-conatiners .all-services .img-container img{
    width: 450px;
    height: 330px;
}

.our-services .services-container .service-conatiners .all-services .heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services .services-container .service-conatiners .all-services .heading-container h1{
    font-size: 3.8rem;
    font-weight: 500;
    color: #000;
    margin-top: -120px;
}

.underline-container .underline{
    width: 300px;
    height: 4px;
    background: linear-gradient(to right, blue, red);
    margin-top: -160px;

}
.content-container{
    width: 400px;
    margin-top: -80px;
}

.btn-read-more {
    margin-top: 50px;
    cursor: pointer;
}

.btn-read-more:hover{
    transform: translateY(-5px);
}

.btn-read-more:active{
    transform: translateY(1px);
}

.content-container p {
    font-size: 2rem;
    text-align: justify;
}

#digital-marketing-services{
    width: 50%;
    height: 100%;
    
}
#graphic-designing{
    width: 50%;
    height: 100%;
}


#application-development{
    width: 50%;
    height: 100%;
    
}
#product-shoot{
    width: 50%;
    height: 100%;
}


#audio-video-editing{
    width: 50%;
    height: 100%;
    
}
#web-designing-services{
    width: 50%;
    height: 100%;
}

 .digital-marketing{
     margin-top: -150px;
 }


.our-opinion{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.our-opinion .heading-container{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-opinion .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.our-opinion .data-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.class-opinion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.class-opinion .img-container{

}

.class-opinion .img-container img{
    width: 380px;
    height: 330px;
    margin-top: 20px;
}

.class-opinion .content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#class-opinion-1{
    width: 30%;
    height: 100%;

}
#class-opinion-2{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
#class-opinion-3{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}

.join-newsletter{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.join-newsletter .heading-container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-newsletter .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);

}

.join-newsletter .search-container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.join-newsletter .search-container form input[type=text]{
    width: 600px;
    height: 55px;
    border-left: blue 3px solid;
    border-top: blue 3px solid;
    border-bottom: red 3px solid;
    border-right: 3px solid red;
    border-radius: 15px;
}
.join-newsletter .search-container form input[type=text]:focus{
    outline: none;
}

.join-newsletter .search-container form input[type=submit] {
    width: 220px;
    height: 50px;
    background: linear-gradient(to right, blue, red);
    border-right: 5px solid red;
    border-top: 2px solid blue;
    border-bottom: 2px solid red;
    border-radius: 15px;
    cursor: pointer;
    margin-left: -218px;
    color: #fff;
    font-size: 1.5rem;
    
}

.join-newsletter .search-container form input[type=submit]:active{
    transform: translateY(2px);
    transition: 300ms;
    outline: none;

}

.join-newsletter .search-container form input[type=submit]:focus{
    outline: none;
}


.customize-plan{
    width: 100vw;
    height: 120vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.customize-plan .heading-container{
    width: 100%;
    display: flex;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-plan .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.customize-plan .steps-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.customize-plan .steps-container .steps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-plan .steps-container .steps img{
    width: 380px;
}

#step-1{
    width: 30vw;
    height: 100%;
    
    margin-right: 5%;
}


#step-2{
    width: 30vw;
    height: 100%;
    
    margin-right: 5%;
}

#step-3{
    width: 30vw;
    height: 100%;
    
}

.website-health{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.website-health .heading-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.website-health .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.website-health .form-container{
    width: 100%;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.website-health .form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-health .form-container form input{
    width: 350px;
    height: 50px;
    margin-top: 40px;
    border-top: blue 5px solid;
    border-left: blue 5px solid;
    border-right: red 5px solid;
    border-bottom: red 5px solid;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px rgb(98, 98, 240);
}

.website-health .form-container form input:focus{
    outline: none;
}

.website-health .form-container form input::placeholder{
    text-align: center;
    font-size: 1.5rem;
}

.website-health .form-container form button{
    margin-top: 55px;
    width: 180px;
    height: 60px;
    background: url("/images/Read-More.png");
    background-size: cover;
    cursor: pointer;
    border: none;
    /* color: #fff;
    box-shadow: inset 15px 15px blue; */
}

.website-health .form-container form button:hover{
    transform: translateY(-5px);
}

.website-health .form-container form button:active{
    transform: translateY(1px);
    outline: none;
}

.website-health .form-container form button:focus{
    outline: none;
}






@keyframes wordsChanger{
    0% {
        content: 'leads';
        color: crimson;
        
    }

    20% {
        content: 'users';
        color: crimson;
    }

    40% {
        content: 'revenue';
        color: crimson;
    }

    60% {
        content: 'sales';
        color: crimson;
    }
    
    80% {
        content: 'conversions';
        color: crimson;
    }

    100% {
        content: 'leads';
        color: crimson;
        
    }
}

@keyframes comeDown{
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes comeRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    100%{
        opacity: 1;
        transform: translate(-20rem);
    }
}

@keyframes magic{
    0%{
        transform: scale(0, 0);
    }

    100%{
        transform: scale(1, 1);
    }
}


@keyframes rotate{
    0%{
        transform: rotate(-25deg) 
    }

    100%{
        transform: translate(0) rotate(0)
    }
}


@media only screen and (max-width: 1150px) {

    .container-one{
        width: 100%;
        flex-direction: column;
        margin-top: 16rem;
        height: 100%;

    }
    
    .main-heading{
        width: 100% !important;
    }

    .header-main{
        width: 100% !important;
        position: absolute;
        right: 30px;
    }
    .heading-main h1{
        font-size: 7rem !important;
        line-height: 11rem !important;
        
    }

    .service-btns{
        width: 100%;
        margin-top: -5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 13rem;
    }
    
    .services-btn a{
        font-size: 3rem;
        margin-top: 18rem;
    }
    .image-container{
        display: none !important;
    
    }

    .container-2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .h1-heading{
        font-size: 22rem !important;
    }

    .container-2{
        height: 120%;
    }

    .paragraph-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -5rem;
        
    }

    .paragraph-container p {
        font-size: 3rem;
        margin-left: 3rem;
    }

    .paragraph-container p span{
        font-size: 3rem;
    }

    .triangle{
        height: 30rem;
    }

    .container-3{
        height: 100%;
    }

    .container-3 h1{
        font-size: 9rem;
    }
    .container-3 h2{
        font-size: 4rem;
    }
    .container-3 h3{
        font-size: 4rem;
    }
    .awareness{
        width: 80%;
        height: 70px !important;
        font-size: 9rem;
    }
    .aquisition{
        width: 70%;
        height: 70px !important;
        font-size: 9rem;
    }
    .activation{
        width: 60%;
        height: 70px !important;
        font-size: 9rem;
    }

    .retention{
        width: 50%;
        height: 70px !important;
        font-size: 9rem;
    }
    .revenue{
        width: 40%;
        height: 70px !important;
        font-size: 9rem;
    }
    .referral{
        width: 30%;
        height: 70px !important;
        font-size: 9rem;
    }

    .container-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120%;
    }

    .container-4 p{
        width: 100%;
        font-size: 3rem;
        line-height: 30pt !important;
        margin-right: 0rem;
        
    }

    .side-container h1{
        transform: none !important;
    }

    .connect-with-us{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .connect-with-us a{
        margin-top: 5rem;
        font-size: 2rem;
    }

    .container-5{
        width: 100%;
        height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .container-5 .data-container{
        width: 100%;
        margin-left: 12rem;
    } 
    
    .container-5 .data-container h1{

    font-size: 6rem !important;
    margin-top: 5rem !important;
    
    }

    .data-container .items{
        transform: translateX(0) !important;
    }

    .contact-us h1{
        margin-top:10rem;
    }
    

    .contact-us .form-container{
        margin-top: -5rem;
        width: 100%;
        height: 80%;
        border: none;
    }

    form{
        width: 60%;
    }

    form input[type=text] {
        height: 6rem;
        font-size: 3rem;
    }

    form input[type=email] {
        height: 6rem;
        font-size: 3rem;
    }

    form textarea{
    font-size: 3rem;
    height: 12rem !important;
    }
    form input[type=submit]{
        height: 6rem !important;
        font-size: 3rem;
    }




}
@media only screen and (max-width: 750px){
    .container-one{
        width: 100%;
        margin: 15rem 3rem 1rem 1rem;
        

    }
    .main-heading{
        width: 100% !important;
        margin-top: 10rem;
        margin-left: em !important;
        
    }

    .heading-main{
        width: 100% !important;
        margin: 0 8rem 0 -5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .heading-main h1{
        width: 100% !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2.1rem !important;
        line-height: 3rem !important;
        margin-right: 1rem !important;
        
        
    }

    .heading-main span{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .service-btns .services-btn{
        margin-top: 5rem;
    }

    .service-btns .services-btn a {
        font-size: 1.8rem;
        
    }

    .h1-heading{
        font-size: 15rem !important;
    }

    .paragraph-container p{
        font-size: 1.8rem !important;
        text-align: center;
    }
    .triangle{
        height: 12rem;
    }

    .container-3 h1{
        font-size: 4rem;
    }
    .container-3 h2{
        font-size: 2.8rem;
        
        text-align: center;
    }

    .container-3 h3{
        height: 60px !important;
        font-size: 3rem;
    }
    .referral{
        width: 33%;
    }

    .para-container{
        width: 100% !important;
    }

    .para-container p {
        font-size: 1.7rem !important;
        text-align: center;
        margin: 0 1.2rem !important;
    }

    .connect-with-us a{
        margin-top: 2.9rem;
        font-size: 1.3rem;
    }

    .container-5{
        display: none;
    }

    .contact-us h1{
        margin-top: 2rem;
    }

    form input[type=text]   {
        height: 3.5rem;
        font-size: 2rem;
    }

    form input[type=email]   {
        height: 3.5rem;
        font-size: 2rem;
    }

}



