/* first slider starts */
.container-one-desk{
    width: 100vw;
    padding: 5rem;
    height: 80vh;
    margin-bottom: 10rem;

}

.carousel-item img{
    width: 100%;
    
}


/* first slider ends */


.container-1_buttons{
    width: 100vw;
    height: 10vh;
    padding: 0 10rem;
    margin-bottom: 5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.container-1_buttons a{
    text-decoration: none;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    padding: 1rem 5rem;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    color: #000;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    
}

.container-1_buttons a:hover{
    text-decoration: none;
    border: none;
    background: linear-gradient(to right, blue, red);
    color: #fff;
    padding: 1.5rem 5rem;
    transform: translateY(-3px);
}

.container-1_buttons a:active{
    transform: translateY(1px);
    text-decoration: none;
}

/* join our newsletter */

#newsletterId{
    min-height: 20vh;
    padding: 5rem 5rem;
}

#newsletter-fields{
    padding: 5rem;
    margin: 5rem;
    
}

.nl{
    width: 70vw;
    -moz-box-shadow:  0 0 4px #ff0707;
    -webkit-box-shadow:  0 0 4px #ff0707;
     box-shadow:  0 0 4px #ff0707;
     border: none !important;
     outline: none;
     padding-left: 3rem;
     font-size: 2rem;
}

.nl:active{
    outline: none;
}

#newsletter-btn{
    margin-left: -15rem;
    font-size: 2rem;
    border: none;
    background: transparent;
    padding: 1.5rem 1.4rem;
    border: 1px solid #ff0707;
    border-radius: 30px;
    font-family: Helvetica, sans-serif;
    color: #ff0707;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.6);
    outline: none;
}

#newsletter-btn:active{
    outline: none;
}

#newsletter-btn:hover{
    background: red;
    color: #fff;
    border-radius: 30px;
    
}

/* carousel indicators */


.carousel-indicators li::before{
    display: none !important;
}
.carousel-indicators li::after{
    display: none !important;
}

.carousel-indicators li{
    display: none !important;
}

.carousel-indicators .active{
    display: none !important;
}

/* ends */

.mob-container{
    display: none;
    
}

h1 a{
    color: red;
}

.btn.btn-primary.mb-2.servicesBtn {
    padding: 2rem 5rem;
    font-size: 2rem;
    background: #fff;
    color: #000;
    border-radius: 50px;

}

.card-text{
    color: #000 !important;
}

.btn.btn-primary.mb-2.servicesBtn:hover{
    background: linear-gradient(to right,  blue, red);
    transform: translateY(-3px);
    color: #fff;
}

.btn.btn-primary.mb-2.servicesBtn:active{
    transform: translateY(1px);
    color: #fff;
}

.container.large {
    padding-bottom: 10rem;
}

/* Carousel  side bars*/

.left.carousel-control {
    opacity: 0;
}

.right.carousel-control {
    opacity: 0;
}

#mission-vision-image{
    width: 22rem;
    height: 10rem;
}

.card-title.mb-4.subHeadFont {

}

.container-fluid.webHealth.text-centermt-1.pt-2.pl-2.pr-2.mb-5 form input[type=text]{
    height: 5rem;
    border-radius: 30px;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    font-size: 2rem;
}

.container-fluid.webHealth.text-centermt-1.pt-2.pl-2.pr-2.mb-5 form input[type=email] {
    height: 5rem;
    border-radius: 30px;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3px solid red; 
    font-size: 2rem;  
}



.word-change{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 20rem;

}

#part-one{
    font-size: 8rem;
}

span.cd-words-wrapper{
    width: auto !important;
}

.cd-words-wrapper b{
    font-size: 10rem;
}

h1.cd-headline.rotate-1{
    width: 100%;
}


.box{
    position: absolute;
    
    top: 2%;
    transform: translateY(-50%);
    font-size: 7rem;
    width: 100vw;
    margin: 0 5rem;
    color: #000;
    
    transform: translateX(15%);
    
}

.word{
    display: inline-block;

}

.word span{
    position: absolute;
    top: -20%;
    
    overflow: hidden;
    font-size: 8rem !important;
    
}

.word span:nth-child(1){
    font-size: 10rem !important;
}

.word span:nth-child(2){
    font-size: 10rem !important;
}

.word span:nth-child(3){
    font-size: 10rem !important;
}

.word span:nth-child(4){
    font-size: 10rem !important;
}

.word span:nth-child(5){
    font-size: 10rem !important;
}


.slider-mob{
    display: none;
}

.btns-mob{
    display: none;
    
}

.subHeadFont{
    font-size: 3rem;
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
}

.heading-health.text-center h1{
}

.anime{
    position: relative;
}

.word{
    display: inline-block;

}

.anm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.word span{
    position: absolute;
    
    /* top: 0 !important; */
    font-size: larger;

    /* top: 30; */
    overflow: hidden;
    animation: animate 10s linear infinite;
    -webkit-animation: animate 10s linear infinite;;
    opacity: 0;
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(-100px);
        color: red;

    }

    2% {
        opacity: 1;
        transform: translateY(0px);
        color: green;
    }

    18% {
        opacity: 1;
        transform: translateY(0px);
        color: blue;
    }

    20% {
        opacity: 0;
        transform: translateY(50px);
        color: pink;
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
        color: aqua;
    }
}


@-webkit-keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(-100px);
        color: red;
        -webkit-transform: translateY(-100px);

    }

    2% {
        opacity: 1;
        transform: translateY(0px);
        color: green;
        -webkit-transform: translateY(0px);
    }

    18% {
        opacity: 1;
        transform: translateY(0px);
        color: blue;
        -webkit-transform: translateY(0px);
    }

    20% {
        opacity: 0;
        transform: translateY(50px);
        color: pink;
        -webkit-transform: translateY(50px);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
        color: aqua;
        -webkit-transform: translateY(50px);
    }
}

.word span:nth-child(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.word span:nth-child(2) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.word span:nth-child(3) {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.word span:nth-child(4) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.word span:nth-child(5) {
    animation-delay: 8s;
    -webkit-animation-delay: 8s;
}


.customize-plan{
    display: none;
}

.container-one{
    width: 100vw;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 5rem; */
    -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
}

.container-one-mob{
    display: none;
    height: 52vh;
}

input{ 
    -webkit-user-select:text;
}




h1.headFont{
    font-size: 7rem;
    /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
}

.container-one .tag-line h1{
    font-size: 8rem;
    line-height: 9.5rem;

}

#img-2 img{
    width: 50rem;
    height: 25rem;
}

.tag-line div span::after{
    content: '';
    animation: wordsChanger infinite 6s;
    -webkit-animation: wordsChanger infinite 6s;
    -moz-animation: wordsChanger infinite 6s;;

}

.data-main{
    margin-top: 10vh;
}

.container-one .data-main-data .img-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.container-one .data-main-data .img-container img{
    width: 35rem;
    
}



.container-one .data-main{
    padding: 5rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.container-one .data-main .data-main-data {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.container-one .data-main .data-main-data .img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40rem;
}


.container-one .data-main .data-main-data .content{
    width: 100%;
    
    padding: 5rem 5rem 0 5rem;
    margin-bottom: -5rem;
}

.container-one .data-main .data-main-data .content p{
    font-size: 2rem;
    text-align: justify;
}
.container-one .data-main .data-main-data .btn-container {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one .data-main .data-main-data .btn-container a{
    font-size: 2.2rem;
    text-decoration: none;
    color: #000;
    padding: 1rem 4rem;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.container-one .data-main .data-main-data .btn-container:nth-child(2) {
    margin-top: 6rem;
}

.container-one .data-main .data-main-data .btn-container a:hover{
    background: linear-gradient(to right, rgb(255, 0, 170), red);
    transform: translateY(-3px);
    color: #fff;
    box-shadow:
    0 2.8px 2.2px rgb(236, 9, 9),
    0 6.7px 5.3px rgb(50, 5, 255),
    0 12.5px 10px rgba(250, 3, 3, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.container-one .data-main .data-main-data .btn-container a:active{
    transform: translate(1px);
}

#data-main-1{
    
    flex: 1;
}
#data-main-2{
    
    flex: 1;
}
#data-main-3{
    
    flex: 1;
}





 /*------------------------------- mission vison ----------------------------------*/


.mission-vision{
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    
.mission-vision .img-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

.mission-vision .img-container img{
    width: 18rem;
}

.mission-vision .heading-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

/* .mission-vision .heading-container h1{
    font-size: 10rem;
    color: rgb(255, 0, 0);
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
} */

.mission-vision .content-container{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
}



.mission-vision .content-container p{
    
    font-size: 3.2rem;
    color: #000;
    font-family: Helvetica, sans-serif;
    line-height: 5rem;
    margin-bottom: 3rem;
}



.mission-vision .content-container p:nth-child(2) {
    font-size: 2rem;
    counter-reset: #000;
    font-weight: 100;
    padding: 0 15rem;
    line-height: 3.5rem;
}



/* --------------------our services --------------------------- */


p.card-text.mb-5.mt-5.h2.text-justify.pl-2.pr-2{
    font-size: 2rem !important;
    font-family: Helvetica, sans-serif;
}

.ourServices{
    min-height: 90vh;
    
}





.servicesBtn {
    /* width: 20rem;
    height: 5rem; */
    padding: 1rem 4rem;
    font-size: 2.4rem;
    border-radius: 30px;
    background: linear-gradient(to right, blue, red);
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, .6);
}

/* How different */


p.card-text.paraDiffer.h2.text-justify.pl-2.pr-2{
    font-size: 2rem !important;
    font-family: Helvetica, sans-serif;
}


.container.mob-container {
    padding-bottom: 5rem;
}

.carousel-item{

}

.carousel-item h1{
    font-size: 2rem;
    text-align: justify;
    padding: 0 2rem;
}

.btn.btn-primary.btn-block.topBtn{
    border-radius: 50px;
    font-size: 2.4rem;
    padding-top: 1rem;
    background: #fff;
    color: #000;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-right: 3px solid red;
}

.differentWe{
    
    min-height: 60vh;
}

.one-card{
    border: none;
}

.paraDiffer{
    

}

h1.display-3{
    color: rgb(255,66,66);
    padding-bottom: 3rem;
}
.card img{
    width: 393px;
    height: 300px;
}


.webHealth{
    min-height: 80vh;
    padding-bottom: 10rem;
}

.whInput{
    height: 5rem;
    font-size: 2rem;
    border-radius: 30px;
    padding-left: 2rem;
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
}

.whInput::placeholder{
    text-align: center;
}
.btn.btn-success.whSubmit{
    font-size: 2.5rem;
    padding: 1rem 5rem;
    border-radius: 30px;
    background: linear-gradient(to right, blue, red);
    border-left: 3px solid blue;
    border-top: 3px solid blue;
    border-right: 3px solid red;
    border-bottom: 3 px solid red;
    box-shadow: 3px 3px 3px red;
    
}

.our-opinion{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.our-opinion .heading-container{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-opinion .heading-container h1{
    font-size: 7rem;
    color: rgb(255, 66, 66);
}

.our-opinion .data-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.class-opinion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.class-opinion .img-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.class-opinion .img-container img{
    width: 38rem;
    height: 33rem;
    margin-top: 20px;
}

.class-opinion .content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;

}

#class-opinion-1{
    flex: 1;
    height: 100%;


}
#class-opinion-2{
    flex: 1;
    height: 100%;
    

}
#class-opinion-3{
    flex: 1;

    height: 100%;
    
    
}

.join-newsletter{
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

}

.join-newsletter .heading-container{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-newsletter .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);

}

.join-newsletter .search-container{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.join-newsletter .search-container form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.join-newsletter .search-container form input[type=text]{
    width: 70rem;
    min-height: 7rem;
    border-left: blue 3px solid;
    border-top: blue 3px solid;
    border-bottom: red 3px solid;
    border-right: 3px solid red;
    border-radius: 15px;
    font-size: 2.5rem;
    padding-left: 1rem;
}
.join-newsletter .search-container form input[type=text]:focus{
    outline: none;
    
}

.join-newsletter .search-container form input[type=submit] {
    width: 22rem;
    height: 7rem;
    background: white;
    border-right: 3px solid red;
    border-top: 3px solid blue;
    border-bottom: 3px solid red;
    border-radius: 15px;
    margin-left: -22rem;
    cursor: pointer;
    color: #fff;
    font-size: 3.5rem;
    background: linear-gradient(to right, blue, red);
}

.join-newsletter .search-container form input[type=submit]:active{
    transform: translateY(2px);
    transition: 300ms;
    outline: none;

}

.join-newsletter .search-container form input[type=submit]:focus{
    outline: none;
}


.customize-plan{
    width: 100vw;
    min-height: 110vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.customize-plan .heading-container{
    width: 100%;
    display: flex;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-plan .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.customize-plan .steps-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.customize-plan .steps-container .steps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize-plan .steps-container .steps img{
    width: 380px;
}

#step-1{
    
    height: 100%;
    flex: 1;
    
    
}


#step-2{

    height: 100%;
    flex: 1;

}

#step-3{
    height: 100%;
    flex: 1;
    
}

.website-health{
    width: 100vw;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.website-health .heading-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.website-health .heading-container h1{
    font-size: 70px;
    color: rgb(255, 66, 66);
}

.website-health .form-container{
    width: 100%;
    height: 40vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.website-health .form-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-health .form-container form input{
    width: 350px;
    height: 50px;
    margin-top: 40px;
    border-top: blue 5px solid;
    border-left: blue 5px solid;
    border-right: red 5px solid;
    border-bottom: red 5px solid;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px rgb(98, 98, 240);
    font-size: 2.2rem;
    padding: 2rem;
}

.website-health .form-container form input:focus{
    outline: none;
}

.website-health .form-container form input::placeholder{
    text-align: center;
    font-size: 2.2rem;
}

.website-health .form-container form button{
    margin-top: 55px;
    width: 180px;
    height: 60px;
    background: url("/images/Submit.png");
    background-size: cover;
    cursor: pointer;
    border: none;
    /* color: #fff;
    box-shadow: inset 15px 15px blue; */
}

.website-health .form-container form button:hover{
    transform: translateY(-5px);
}

.website-health .form-container form button:active{
    transform: translateY(1px);
    outline: none;
}

.website-health .form-container form button:focus{
    outline: none;
}

@-webkit-keyframes wordsChanger {
    0% { 
        
        content: 'Facebook';
        -webkit-text-decoration-color: blue;
        -webkit-text-fill-color: blue;
        }
    20% {
            content: 'Instagram';
            -webkit-text-fill-color: red;
        }
    
    40% {
            content: 'Google';
            -webkit-text-fill-color: green;
        }
    
    60% {
            content: 'Linkedin';
            -webkit-text-fill-color: crimson;
        }
        
    80% {
            content: 'Youtube';
            -webkit-text-fill-color: orangered;
        }
    
    100% {
            content: 'Facebook';
            -webkit-text-fill-color: blue;
            
        }
}




@keyframes wordsChanger{
    0% {
        content: 'Facebook';
        color: blue;
        
    }

    20% {
        content: 'Instagram';
        color: red;
    }

    40% {
        content: 'Google';
        color: green;
    }

    60% {
        content: 'Linkedin';
        color: crimson;
    }
    
    80% {
        content: 'Youtube';
        color: orangered;
    }

    100% {
        content: 'Facebook';
        color: blue;
        
    }
}



@media only screen and (max-width: 1200px) {
    .button-container {
        margin-top: -10rem;
    }
}


@keyframes comeDown{
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes comeRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    100%{
        opacity: 1;
        transform: translate(-20rem);
    }
}

@keyframes magic{
    0%{
        transform: scale(0, 0);
    }

    100%{
        transform: scale(1, 1);
    }
}


@keyframes rotate{
    0%{
        transform: rotate(-25deg) 
    }

    100%{
        transform: translate(0) rotate(0)
    }
}


@media only screen and (max-width: 1150px) {

    h1.ourServicess{
        font-size: 5rem !important;
        color: red;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }


}
@media only screen and (max-width: 850px){

    .word-change{
        
    }

    #part-one{
        font-size: 7rem;
    }
    
    
    
    .cd-words-wrapper b{
        font-size: 8rem;
    }

    .mob-container{
        display: block;
    }

    .large{
        display: none;
    }

    

    .topBtn{
        height: 2rem;
    }

    h1.headFont{
        font-size: 5rem;
    }

    .subHeadFont{
        font-size: 3.5rem;
    }

    

.container-one {
    margin-bottom: 10rem;
}

.container-one .tag-line h1{
    font-size: 6rem;
}

.container-one .data-main{
    flex-direction: column;
}

.container-one .data-main-data {
    margin-top: 20rem;
}


.container-one .data-main .data-main-data .content{
    width: auto;
}

.container-one .data-main .data-main-data .content p{
    padding: 0 10rem;
    font-size: 3rem;
}

.container-one .data-main-data:nth-child(2) {
    margin-top: -4rem;
}

.container-one .data-main-data:last-child {
    margin-top: 10rem;
}

.container-one .data-main-data .img-container {
    width: 100vh;
}

.container-one .data-main-data .img-container img{
    width: 60%;
}

.container-one .data-main-data .btn-container{
    width: 100vw;
}

.container-one .data-main-data .btn-container a{
    font-size: 3.5rem !important;
}

.card-text.mt-5.mb-5{
    font-size: 2rem !important;
    color: #000;
}

p.card-text.mb-5.mt-5.h2.text-justify.pl-2.pr-2{
    /* font-size: 3rem !important; */
}


.btn.btn-primary.mb-2.servicesBtn{
    padding: 2rem 6rem;
    /* font-size: 3rem; */
}
.two-column-container{

    height: 580rem;
}

.all-data {
    width: 100% !important;
    margin-bottom: 10rem !important;
}

.all-data .heading-container{
    width: 100vh;
}

.all-data .heading-container h1{
    font-size: 3.5rem;
}

    #services-container-1{
        height: 120%;
        flex-direction: column;
    }
    #services-container-2{
        height: 120%;
        flex-direction: column;
        
    }
    #services-container-3{
        height: 180rem;
        flex-direction: column;
    }

    #how-different{
        height: 480rem;
    }

    #how-different-header h1{
        font-size: 6rem;
    }

    #personal-ad-manager{
        margin-top: 15rem;
    }

    .our-opinion {
        height: 300vh;
    }

    .our-opinion .heading-container h1{
        font-size: 6rem;
    }

    .our-opinion .data-container {
        flex-direction: column;
    }

    .our-opinion .data-container .class-opinion{
        width: 100%;
    }

    .join-newsletter .heading-container h1{
        font-size: 6rem;
    }

    .join-newsletter .search-container form input[type=text] {
        width: 55rem;
        height: 5rem;
    }

    .join-newsletter .search-container form input[type=submit] {
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem;
        margin-left: -5rem;
    }

    .customize-plan .heading-container {
        width: 100%;
        padding: 0 5rem;
    }

    .customize-plan{
        height: 300%;
        width: 100%;
    }
    .customize-plan .heading-container h1{
        font-size: 3rem;
    }

    
    .customize-plan .steps-container{
        flex-direction: column;
    }

    #step-1{
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    #step-2{
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    #step-3{
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    .website-health {
        width: 100%;
        min-height: 100vh;
       
    }

    .website-health .heading-container h1 {
        font-size: 4rem;
    }

    .website-health .form-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .website-health .form-container form .line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topBtn{
        height: 6rem;
        background: transparent;
        color: #000;
        font-size: 2.2rem;
        border-radius: 30px;
        padding: 1rem 0 0 0;
        border-left: 3px solid blue;
        border-top: 3px solid blue;
        border-right: 3px solid red;
        border-bottom: 3px solid red;
        box-shadow: 5px 5px 5px rgba(255, 0, 0, .7);
    }

    .topBtn:hover{
        background: linear-gradient(to right, blue, red);
        color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 255, .7);
    }

    #newsletter-fields{

        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }


    #newsletter-btn{
        margin-left: 0;
        margin-top: 5rem;
    }


}

@media only screen and (max-width: 450px) {

    /* .container-one {
        margin-top: -2rem;
    }

    .container-one .tag-line h1{
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .container-one .img-container {
        margin-top: -10rem;
    }

    .container-one .btn-container {
        
    }

    .container-one .data-main-data .btn-container a {
        font-size: 1.8rem !important;
    }

    #data-main-3 .img-container {
        margin-top: 1px;
        padding-top: 0;
    } */


    .container-one-desk{
        display: none;
    }


    .container-1_buttons{
        display: none;
    }


    .container-fluid.text-center.mt-5.pt-5.btns-mob{
        margin-bottom: 5rem !important;
    }

    .container-fluid.text-center.mission.p-5{
        padding: 0 !important;
    } 

    .container-fluid.ourServices{
        padding-left: 0 !important;
        padding-right: 0 !important;
    } 

    #newsletterId{
        min-height: 5vh;
    margin-bottom: -10rem !important;
    }

    #newsletter-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    }

    .nl{
        width: 90vw;
    }

    #newsletter-btn{
        margin-left: 0;
        margin: 2rem 0;
    }


    .container-fluid.word-change{
        margin-bottom: -10rem;
    }

    #part-one{
        font-size: 3.5rem;
    }
    
    
    
    .cd-words-wrapper b{
        font-size: 3.5rem;
    }

    .btns-mob{
        display: block;
        /* margin-top: 13rem !important; */
    }

    .topBtn{
        height: 6rem;
        background: transparent;
        color: #000;
        font-size: 2.2rem;
        border-radius: 30px;
        padding: 1rem 0 0 0;
        border-left: 3px solid blue;
        border-top: 3px solid blue;
        border-right: 3px solid red;
        border-bottom: 3px solid red;
        box-shadow: 5px 5px 5px rgba(255, 0, 0, .7);
    }

    .topBtn:hover{
        background: linear-gradient(to right, blue, red);
        color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 255, .7);
    }


    h1.headFont{
        font-size: 3.5rem;
    }

    .subHeadFont{
        font-size: 2.5rem;
    }

    .webHealth{
        /* min-height: 120vh; */
        
    }

    
    /* .mission-vision {
        min-height: 100vh;
        
    }

    .mission-vision .img-container {
        height: 20vh;
        margin-top: -10rem;
    }

    .mission-vision .img-container img{
        width: 12rem;
    }

    .mission-vision .heading-container h1{
        font-size: 3rem;
    }

    .mission-vision .content-container p {
        font-size: 2.2rem;
        line-height: 3.8rem;
        margin-top: 2rem;
    }

    .mission-vision .content-container p:nth-child(2) {
        font-size: 1.8rem;
        padding: 0 0;
    }

    .mission-vision .content-container ul li {
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    } */

    .two-column-container{
        height: 475rem;
    }

    .two-column-container .heading-container {
        
    }

    .two-column-container .heading-container h1{
        font-size: 4rem;
        
    }

    .two-column-container_container .data-containers {
        padding: 0 0rem;
    }

    .two-column-container_container .data-containers .all-data .img-container{

    }

    .two-column-container .two-column-container_container .data-containers .all-data .img-container img{
        width: 35rem;
        height: 25rem;
        padding: 0 5rem;
    }

    .two-column-container .two-column-container_container .data-containers .all-data .heading-container{
        height: 10rem;
        
    }

    .two-column-container .two-column-container_container .data-containers .all-data .heading-container h1{
        margin-top: 0;
        font-size: 2.7rem;
    }

    .underline-container .underline{
        margin-top: 0;
    }

    .two-column-container .two-column-container_container .data-containers .all-data .content-container{
        margin-top: 0;
        padding: 0 3rem;
        line-height: 2.5rem;
        height: 22rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .two-column-container .two-column-container_container .data-containers .all-data .content-container p {
        font-size: 1.7rem;
    }

    .btn-read-more {
        margin-top: 0;
    }
    #web-designing-services{
        margin-top: -20rem;
    }

    #application-development{
        margin-top: -8rem;
    }

    #how-different{
        margin-top: 0;
    }

    .two-column-container .heading-container {
        height: 10rem;
    }

    #how-different{
        height: 400rem;
    }

    #how-different-header{
        margin-bottom: 0;
    }

    #how-different-header h1{
        font-size: 3rem;
    }

    .our-opinion{
        height: 320vh;
        z-index: -10;
    }

    .our-opinion .heading-container{
        margin-bottom: 3rem;
    }

    .our-opinion .heading-container h1{
        font-size: 3rem;
    }

    .join-newsletter .heading-container h1{
        font-size: 3rem;
    }

    .mission-vision {
        margin-top: 12rem;
    }

    .two-column-container .heading-container h1{
        font-size: 2.6rem !important;
    }

    .all-data .heading-container h1{
        font-size: 2.2rem !important;
    }

    .class-opinion .content-container {
        padding: 0 1rem;
    }

    .join-newsletter .search-container form{
        flex-direction: column !important;
    }

    .join-newsletter .search-container form input{
        width: 35rem !important;
    }

    .join-newsletter .search-container form input[type=submit]{
        width: 20rem !important;
        align-self: center;
        margin-left: 0 !important;
        margin-top: 2rem !important;
    }

    .customize-plan .heading-container h1{
        font-size: 2.5rem !important;
    }

    .website-health {
        margin-bottom: 8rem;
    }

    .website-health .heading-container h1{
        font-size: 2.2rem !important;
    }

    

    .container-one{
        display: none;
    }
    #demo{
        /* margin-bottom: 20rem; */
        /* margin-bottom: 5rem; */
    }

    .heading-health h1{
        font-size: 3rem;
    }

    .container-one-mob-1{
        margin-top: 50%;
    }
    

    .container-one-mob{
        display: flex;
        margin-top: 15rem;
        

    }

    
}