

.payment-block{

    height: 120%;
    
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-success {
    background-color: red !important;
}

@media only screen and (max-width: 850px) {
    .display-2{
        font-size: 3rem !important;
    }

    .display-4{
        font-size: 2.5rem !important;
        text-align: justify;
    }
}


@media only screen and (max-width: 450px) {
    .display-2{
        font-size: 3rem !important;
    }

    .display-4{
        font-size: 2rem !important;
    }

    
}