input#update-plan{
    padding: 1rem 6rem;
    background: green;
    color: #fff;
    font-size: 2rem;
    border-radius: 30px;
    outline: none;
}

input#update-plan:hover{
    transform: translateY(-3px);
}

input#update-plan:active{
    transform: translateY(1px);
}


input#delete-plan{
    padding: 1rem 6rem;
    background: red;
    color: #fff;
    font-size: 2rem;
    border-radius: 30px;
    outline: none;
}


input#delete-plan:hover{
    transform: translateY(-3px);
}

input#delete-plan:active{
    transform: translateY(1px);
}

.payment-block{

    height: 120%;
    
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-success {
    background-color: red !important;
}

@media only screen and (max-width: 850px) {
    .display-2{
        font-size: 3rem !important;
    }

    .display-4{
        font-size: 2.5rem !important;
        text-align: justify;
    }
}


@media only screen and (max-width: 450px) {
    .display-2{
        font-size: 3rem !important;
    }

    .display-4{
        font-size: 2rem !important;
    }

    
}